<%
update_on_close = false
@block.block_type.field_types.each do |ft|
  update_on_close = true if ft.field_type == 'image' || ft.field_type == 'file'
end
%>
<h2 style='margin-top: 0; padding-top: 0;'>Edit <%= @block.block_type.description %></h2>
<p><div id='block_<%= @block.id %>_block_type_id'></div></p>

<% if @block.block_type.use_render_function_for_layout %>
  <%= raw @block.render('[Empty, click to edit]', true) %>
<% else %>
  <% @block.block_type.field_types.each do |ft| %>    
    <% f = @block.field_for(ft.name) %>
    <% if ft.field_type.starts_with?('block') %>
      <div id='field_<%= f.id %>'><%= ft.nice_name %>: <%= f.child_block.render('[Empty, click to edit]', true) %></div>      
    <% else %>  
      <div id='field_<%= f.id %>_value'></div>
    <% end %>
  <% end %>
<% end %>
<p>
<% if @block.field_id %>
  <input type='button' value='< Back' onclick="window.location='/admin/pages/<%= @block.page_id %>/blocks/<%= @block.field.block_id %>/edit';" />
<% end %>
<input type='button' value='Close' onclick="<% if update_on_close %>parent.controller.render_blocks();<% end %>modal.close();" />
</p>

<% content_for :caboose_css do %>
<style type='text/css'>
#block_<%= @block.id %>_block_type_id_container { }
</style>
<% end %>
<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});

$(document).ready(function() {
              
  m = new ModelBinder({
    name: 'Block',
    id: <%= @block.id %>,
    update_url: '/admin/pages/<%= @block.page_id %>/blocks/<%= @block.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [{      
      name: 'block_type_id',
      nice_name: 'Block type',
      type: 'select',
      value: <%= @block.block_type_id %>,             
      text: <%= raw Caboose.json(@block.block_type.name) %>,                  
      width: 200,
      fixed_placeholder: true,
      options_url: '/admin/block-types/options',          
      after_update: function() { parent.controller.render_blocks(); window.location.reload(true); },
      after_cancel: function() { parent.controller.render_blocks(); window.location.reload(true); }
    }]
  });  
      
  <% use_tinymce = false %>
  <% @block.block_type.field_types.each do |ft| %>
    <% f = @block.field_for(ft.name) %>    
    <% if ft.field_type.starts_with?('block') %>
      $('#field_<%= f.id %>').attr('onclick','').unbind('click');    
      $('#field_<%= f.id %>').click(function(e) {
        window.location = '/admin/pages/<%= @block.page_id %>/blocks/<%= f.child_block.id %>/edit';               
      });    
    <% else %>
      <% use_tinymce = true if ft.field_type == 'richtext' %>
      m = new ModelBinder({
        name: 'Field',
        id: <%= f.id %>,
        update_url: '/admin/fields/<%= f.id %>',
        authenticity_token: '<%= form_authenticity_token %>',
        attributes: [{      
          name: 'value',
          type: <%=  raw Caboose.json(ft.field_type) %>,
          value: <% 
            if ft.field_type == 'checkbox' %><%= f.value ? 'true' : 'false'           %><%
            elsif ft.field_type == 'image' %><%= raw Caboose.json(f.image.url(:tiny)) %><%
            elsif ft.field_type == 'file'  %><%= raw Caboose.json(f.image.url)        %><%
            else                           %><%= raw Caboose.json(f.value)            %><% 
          end %>,
          <% if ft.field_type == 'select' %>text: <%= raw Caboose.json(f.value) %>,<% end %>        
          nice_name: <%= raw Caboose.json(ft.nice_name ? ft.nice_name : ft.name) %>,
          width: <% if ft.width %><%= raw Caboose.json(ft.width) %><% else %>780<% end %>,
          <% if ft.height                %>height: <%=            raw Caboose.json(ft.height)            %>,<% end %>
          <% if ft.fixed_placeholder     %>fixed_placeholder: <%= raw Caboose.json(ft.fixed_placeholder) %>,<% end %>
          <% if ft.options || ft.options_function %>options_url: '/admin/field-types/<%= ft.id %>/options',<%
             elsif ft.options_url        %>options_url: <%=       raw Caboose.json(ft.options_url)      %>,<% end %>
          <% if ft.field_type == 'image' %>update_url: '/admin/fields/<%= f.id %>/image',
          image_refresh_delay: 100,
          <% end %>
          <% if ft.field_type == 'file'  %>update_url: '/admin/fields/<%= f.id %>/file',<% end %>
          after_update: function() { parent.controller.render_blocks(); },
          after_cancel: function() { parent.controller.render_blocks(); }
        }]
      });
    <% end %>
  <% end %>
});

</script>
<% if use_tinymce %>
<%= tinymce_assets %>
<script type='textjavascript'>
document.domain = "<%= Rails.application.config.action_controller.asset_host %>";
</script>
<%= tinymce :caboose, width: '800px', height:'300px' %>
<% end %>
<% end %>
