
<div id='pageblock_<%= @block.id %>_value'></div>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});

$(document).ready(function() {  
  m = new ModelBinder({
    name: 'PageBlock',
    id: <%= @block.id %>,
    update_url: '/admin/pages/<%= @page.id %>/blocks/<%= @block.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [{ 
      name: 'value',
      nice_name: 'Content',
      type: 'richtext',
      value: <%= raw Caboose.json(@block.value) %>,
      width: 800,
      fixed_placeholder: false,
      after_update: function() { parent.controller.render_blocks(); modal.close(); },
      after_cancel: function() { parent.controller.render_blocks(); modal.close(); }
    }]
  });
});

</script>
<%= tinymce_assets %>
<%= tinymce :caboose, width: '800px', height:'300px' %>
<% end %>
