<%
store_config = @invoice.site.store_config
%>
<h1>Invoice #<%= @invoice.invoice_number %></h1>

<% if @invoice.status == Caboose::Invoice::STATUS_CART %>
  <p class='note error'>This invoice is still in cart status. Please <a href='/checkout'>checkout</a> to view this invoice.</p>
  <p><input type='button' value='< Back' class='btn' onclick="window.location='/my-account/invoices';" /></p>
<% else %>
  <div id='overview_table'></div>
  <% if @invoice.financial_status == Caboose::Invoice::FINANCIAL_STATUS_PENDING %>  
    <div id='payment_form'></div>
    <div id='payment_message'></div>
    <iframe id="relay" name="relay" style='<% if @show_relay %>display: block; width: 800px; height: 400px; border: #000 1px solid;<% else %>display: none;<% end %>'></iframe>  
  <% end %>
  <div id='invoice_table'></div>
  <div id='message'></div>
  <p>
    <p><input type='button' value='< Back' class='btn' onclick="window.location='/my-account/invoices';" /></p>	
  	<input type='button' value='Print Invoice' class='btn' onclick='window.location="/my-account/invoices/<%= @invoice.id %>/print";' />
  </p>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'https://js.stripe.com/v2/' %>
<%= javascript_include_tag 'caboose/jquery.payment' %>
<%= javascript_include_tag 'caboose/model/all' %>
<%= javascript_include_tag 'caboose/my_account_edit_invoice' %>
<%= javascript_include_tag 'caboose/my_account_payment_method_controller' %>
<script type='text/javascript'>

<% if @invoice.status != Caboose::Invoice::STATUS_CART %>
var controller = false;
$(document).ready(function() {
  controller = new MyAccountInvoiceController({ 
    invoice_id: <%= raw Caboose.json(@invoice.id) %>,
    authenticity_token: <%= raw Caboose.json(form_authenticity_token) %>
  });
});
<% end %>

</script>
<% end %>

<% content_for :caboose_css do %>
<%= stylesheet_link_tag 'caboose/my_account_edit_invoice' %>
<style type='text/css'>
.stripe_form { width: 100%; }
.stripe_form .card_number_container { position: relative; width: 100%; }                                 .stripe_form .card_number_container input { padding-left: 30px; height: 37px;            font-size: 15px; width: 100%; border-color: #b9b9b9; border-style: solid; border-width: 1px 1px 0px 1px; }
.stripe_form .card_exp_container    { position: relative; width: 50% !important; float: left; }          .stripe_form .card_exp_container    input { padding-left: 30px; height: 37px;            font-size: 15px; width: 100%; border-color: #b9b9b9; border-style: solid; border-width: 1px 1px 0px 1px; }
.stripe_form .card_cvc_container    { position: relative; width: 50%; float: left; }                     .stripe_form .card_cvc_container    input { padding-left: 30px; height: 37px;            font-size: 15px; width: 100%; border-color: #b9b9b9; border-style: solid; border-width: 1px 1px 0px 0px; }
.stripe_form .card_name_container   { position: relative; width: 50%; float: left; }                     .stripe_form .card_name_container   input { padding-left: 10px; height: 37px !important; font-size: 15px; width: 100%; border-color: #b9b9b9; border-style: solid; border-width: 1px 0px 1px 1px; }
.stripe_form .card_zip_container    { position: relative; width: 50%; float: left; margin-bottom: 4px; } .stripe_form .card_zip_container    input { padding-left: 10px; height: 37px;            font-size: 15px; width: 100%; border-color: #b9b9b9; border-style: solid; border-width: 1px 1px 1px 0px; }

.stripe_form .card_number_container .icon { position: absolute; top: 3px; left: 1px; transform-origin: 50% 50% 0; pointer-events: none; }
.stripe_form .card_exp_container    .icon { position: absolute; top: 3px; left: 1px; transform-origin: 50% 50% 0; pointer-events: none; }
.stripe_form .card_cvc_container    .icon { position: absolute; top: 3px; left: 1px; transform-origin: 50% 50% 0; pointer-events: none; }

.stripe_form .note { width: 100%; margin-bottom: 10px !important; text-align: center; }
.stripe_form .payment_controls { clear: left; margin-top: 4px !important; }

</style>
<% end %>
