<h1>Vendors</h1>

<p><a href="/admin/store/vendors/new">New Vendor</a></p>

<form action="/admin/store/vendors" method="get" style="margin: 0 0 12px">
  <input name="name_like" value="<%= params[:name_like] %>" placeholder="Search for vendor" />
  <input type="submit" value="Search" />
</form>

<% if @vendors.count > 0 %>
  <table class="data">
    <tr>
      <%= raw @pager.sortable_table_headings({
        'id'       => 'ID',
        'id,name'  => 'Image',
        'name'     => 'Name',
        'status'   => 'Status',
        'featured' => 'Featured',
      }) %>
    </tr>
    
    <% @vendors.each do |vendor| %>
      <tr onclick="window.location='/admin/store/vendors/<%= vendor.id %>';">
        <td style="text-align: center"><%= raw vendor.id %></td>
        <td><% if vendor.image %><img src='<%= raw vendor.image.url(:tiny) %>' /><% else %>&nbsp;<% end %></td>
        <td><%= raw vendor.name %></td>
        <td><%= raw vendor.status %></td>
        <td><%= vendor.featured ? 'Yes' : 'No' %></td>
      </tr>
    <% end %>
  </table>
  
  <p><%= raw @pager.generate %></p>
<% else %>
  <p>There are no products right now.</p>
<% end %>
