<h1>Edit Vendor</h1>
<p><div id="vendor_<%= @vendor.id %>_name"></div></p>
<p><div id="vendor_<%= @vendor.id %>_status"></div></p>
<p><div id="vendor_<%= @vendor.id %>_featured"></div></p>
<p><div id="vendor_<%= @vendor.id %>_image"></div></p>
<div id='message'></div>
<input type="button" value="< Back" onclick="window.location='/admin/store/vendors';" />
<input type="button" value="Delete" onclick="delete_vendor(<%= @vendor.id %>);" />

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script>
$(document).ready(function() {
  m = new ModelBinder({
    id: <%= @vendor.id %>,
    name: 'Vendor',
    update_url: '/admin/store/vendors/<%= @vendor.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'name'     , nice_name: 'Name'     , type: 'text'     , value: <%= raw Caboose.json(@vendor.name)              %>, width: 500 },
      { name: 'status'   , nice_name: 'Status'   , type: 'select'   , value: <%= raw Caboose.json(@vendor.status)            %>, width: 500, options_url: '/admin/store/vendors/status-options' },
      { name: 'featured' , nice_name: 'Featured' , type: 'checkbox' , value: <%= @vendor.featured ? 1 : 0                    %>, width: 500 },
      { name: 'image'    , nice_name: 'Image'    , type: 'image'    , value: <%= raw Caboose.json(@vendor.image.url(:thumb)) %>, width: 500 , update_url: '/admin/store/vendors/<%= @vendor.id %>/image' }
    ]
  })
});

function delete_vendor(vendor_id, confirm)
{
  if (!confirm)
  {
    var p = $('<p/>').addClass('note confirm')
      .append('Are you sure you want to delete the vendor? ')
      .append($('<input/>').attr('type','button').val('Yes').click(function() { delete_vendor(vendor_id, true); })).append(' ')
      .append($('<input/>').attr('type','button').val('No').click(function() { $('#message').empty(); }));
    $('#message').empty().append(p);
    return;
  }
  $('#message').html("<p class='loading'>Deleting vendor...</p>");
  $.ajax({
    url: '/admin/store/vendors/' + vendor_id,
    type: 'delete',
    success: function(resp) {
      if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect) window.location = resp.redirect;
    }
  });
}

</script>
<% end %>
