<% content_for :caboose_css do %>
<%= stylesheet_link_tag "caboose/admin_products" %>
<style>
#product-title {
	font-size: 24px !important;
	height: auto !important;
	padding: 10px 2% !important;
}
</style>
<% end %>
<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<%= javascript_include_tag "caboose/admin_products" %>
<% end %>

<ul id='crumbtrail'>
	<li><a href="/admin"><span>Admin</span></a></li>
	<li><a href="/admin/products"><span>Products</span></a></li>
</ul>
<h1 id="product-title">Edit Product - <%= @product.title %></h1>
<ul id='tabs'>
<%
tabs = {
  "/admin/products/#{@product.id}"              => 'Product details',
  "/admin/products/#{@product.id}/description"  => 'Long Description',
  "/admin/products/#{@product.id}/categories"   => 'Categories'
}

tabs["/admin/products/#{@product.id}/options"             ] = 'Options <span style="font-size: 65%">(size, color, style, etc.)</span>'
tabs["/admin/products/#{@product.id}/variants/sort-order" ] = 'Sort Option Values' if @product.options && @product.options.count > 0
tabs["/admin/products/#{@product.id}/variants"            ] = 'Inventory & Variants'
tabs["/admin/products/#{@product.id}/images"              ] = 'Images'
tabs["/admin/products/#{@product.id}/delete"              ] = 'Delete Product'

#tabs["/admin/products/#{@product.id}/seo"          ] = 'SEO'

%>
<% tabs.each do |href,text| %>
<% selected = href == "/admin/products/#{@product.id}" ? request.fullpath == href : request.fullpath.starts_with?(href) %>
<li<%= raw selected ? " class='selected'" : '' %>><a href='<%= href %>'><%= raw text %></a></li>
<% end %>
<li class='back'><input type='button' class="caboose-btn" value='< Back' onclick="window.location='/admin/products';" /></li>
</ul>
<div id='content2'>