<%
p = @product
%>
<%= render :partial => 'caboose/products/admin_header' %>

<p><div id='product_<%= p.id %>_vendor_id'></div></p>
<p><div id='product_<%= p.id %>_title'></div></p>
<p><div id='product_<%= p.id %>_caption'></div></p>
<p><div id='product_<%= p.id %>_handle'></div></p>
<p><div id='product_<%= p.id %>_featured'></div></p>
<p><div id='product_<%= p.id %>_seo_title'></div></p>
<p><div id='product_<%= p.id %>_seo_description'></div></p>
<p><div id='product_<%= p.id %>_status'></div></p>
<p><div id='product_<%= p.id %>_alternate_id'></div></p>
<p><div id='product_<%= p.id %>_date_available'></div></p>

<div id='message'><%= raw flash[:message] ? flash[:message] : "" %></div>

<%= render :partial => 'caboose/products/admin_footer' %>

<% content_for :caboose_js do %>
<script type='text/javascript'>
<%
date_available = p.date_available ? p.date_available.strftime('%F') : ''
%>
$(document).ready(function() {
	
  m = new ModelBinder({
    name: 'Product',
    id: <%= p.id %>,
    update_url: '/admin/products/<%= p.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'vendor_id'       , nice_name: 'Vendor'               , type: 'text'      , value: <%= raw Caboose.json(p.vendor_id       ) %>, width: 500, options_url: '/admin/vendors/options' },
      { name: 'title'           , nice_name: 'Title'                , type: 'text'      , value: <%= raw Caboose.json(p.title           ) %>, width: 500 },
      { name: 'caption'         , nice_name: 'Caption'              , type: 'text'      , value: <%= raw Caboose.json(p.caption         ) %>, width: 500 },
      { name: 'status'          , nice_name: 'Status'               , type: 'select'    , value: <%= raw Caboose.json(p.status          ) %>, width: 500, options_url: '/admin/products/status-options' },
      { name: 'handle'          , nice_name: 'URL Handle'           , type: 'text'      , value: <%= raw Caboose.json(p.handle          ) %>, width: 500 },
      { name: 'seo_title'       , nice_name: 'SEO Page Title'       , type: 'text'      , value: <%= raw Caboose.json(p.seo_title       ) %>, width: 500 },
      { name: 'seo_description' , nice_name: 'SEO Meta Description' , type: 'textarea'  , value: <%= raw Caboose.json(p.seo_description ) %>, width: 500, height: 150 },
      { name: 'alternate_id'    , nice_name: 'Alternate ID'         , type: 'text'      , value: <%= raw Caboose.json(p.alternate_id    ) %>, width: 500 },
      { name: 'date_available'  , nice_name: 'Date Available'       , type: 'text'      , value: <%= raw Caboose.json(date_available    ) %>, width: 500 },
      { name: 'featured'        , nice_name: 'Featured'             , type: 'checkbox'  , value: <%= raw Caboose.json(p.featured        ) %>, width: 500 }
    ]
  });
});

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});

</script>
<% end %>
