<!DOCTYPE html> 
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<title>Caboose Admin</title>	
<%= stylesheet_link_tag "caboose/admin", :media => "all" %>
<% if File.exists?("#{Rails.root}/app/assets/stylesheets/admin.css") %>
<%= stylesheet_link_tag "admin", :media => "all" %>
<% end %>
<%= yield :caboose_css %>
<%= csrf_meta_tags %>
</head>
<body>
<div id='header'>
  <div id='top_nav'>
    <div class='caboose_logo'></div>
    <ul>
      <li class='back'    ><a href='/'><span><< Back to Site</span></a></li>
      <li class='cpanel'  ><a href='/station' id='caboose_station'><span>Menu</span></a></li>
    </ul>
  </div>
</div>
<div id='content_wrapper'>
  <div id='content'>
  
<%= yield %>

  </div>
</div>
<div class="footer"></div>
<%= javascript_include_tag "caboose/admin" %>
<%= yield :caboose_js %>
</body>
</html>
