<%
# See if we're using cloudflare
protocol = 'http://'
if request.env['HTTP_CF_VISITOR'] && request.env['HTTP_CF_VISITOR'].include?('https')
  protocol = 'https://'
  request.env['REQUEST_URI']     = "https://#{request.env['REQUEST_URI'][7..-1]}" if (request.env['REQUEST_URI'] =~ %r"http://") == 0    
  request.env['SERVER_PORT']     = '443' if request.env['SERVER_PORT'] == '80'
  request.env['HTTP_REFERER']    = "https://#{request.env['HTTP_REFERER'][7..-1]}" if (request.env['HTTP_REFERER'] =~ %r"http://") == 0    
  request.env['rack.url_scheme'] = 'https'
  request.env['HTTPS']           = 'on'
end

content_for :admin_css do
  %><%= stylesheet_link_tag "caboose/admin", :media => "all" %><%
  if File.exists?("#{Rails.root}/app/assets/stylesheets/admin.css")
    %><%= stylesheet_link_tag "admin", :media => "all" %><%
  end
  %><%= yield :caboose_css %><%
end

css = yield(:admin_css)
css.gsub!("<link href=\"//", "<link href=\"#{protocol}")
css.gsub!("<link href='//" , "<link href='#{protocol}")
if protocol == 'https://' 
  css.gsub!("<link href=\"http://", "<link href=\"https://")
  css.gsub!("<link href='http://" , "<link href='https://")
end

content_for :admin_js do
  %><%= javascript_include_tag "caboose/admin" %><%
  %><%= yield :caboose_js %><%
end

js = yield(:admin_js)
js.gsub!("<script src=\"//", "<script src=\"#{protocol}")
js.gsub!("<script src='//" , "<script src='#{protocol}")
if protocol == 'https://' 
  js.gsub!("<script src=\"http://", "<script src=\"https://")
  js.gsub!("<script src='http://" , "<script src='https://")
end

%><!DOCTYPE html> 
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<title>Caboose Admin</title>	
<link rel="icon" type="image/png" href="https://cabooseit.s3.amazonaws.com/caboose_32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://cabooseit.s3.amazonaws.com/caboose_16.png" sizes="16x16">
<%= raw css %>
<%= csrf_meta_tags %>
</head>
<body>
<div id='header'>
  <div id='top_nav'>
    <a href="/admin" class='caboose_logo'></a>
    <ul class="quick">
      <li class="logout"><a href="/logout">Logout</a></li>
      <li><a href="/admin">Admin</a></li>
      <% i = 0 %>
      <% @nav.each do |item| %>
        <% id = item['id'].nil? ? i.to_s : item['id'] %>
        <% href = item['href'].nil? ? '#' : item['href'] %>
        <% modal = item['modal'].nil? ? false : item['modal'] %>
        <li id='nav_item_<%= id %>'>
          <% if href != "#" %><a href='<%= href %>'<%= raw (modal ? " rel='modal'" : "") %>><% end %>
            <span class='icon'></span><span class='text'><%= item['text'] %></span>
          <% if href != "#" %></a><% end %>
        <% if (!item['children'].nil? && item['children'].count > 0) %>
          <ul>
            <% item['children'].each do |item2| %>
              <% modal = item2['modal'].nil? ? false : item2['modal'] %>
              <li><a href='<%= item2['href'] %>'<%= raw (modal ? " rel='modal'" : "") %>><%= item2['text'] %></a></li>
            <% end %>
          </ul>
        <% end %>
        </li>
        <% i + 1 %>
      <% end %>
    </ul>
    <ul>
      <li class='back'    ><a href='/' target="_blank" class="caboose-btn"><span>View Site</span></a></li>
  <!--     <li class='cpanel'  ><a href='/station' id='caboose_station' class='caboose_modal caboose-btn'><span>Menu</span></a></li> -->
    </ul>
  </div>
</div>
<div id='content_wrapper'>
  <div id='content'>
  
<%= yield %>

  </div>
</div>
<div class="footer"></div>
<%= raw js %>
</body>
</html>
