<%
# See if we're using cloudflare
protocol = 'http://'
if request.env['HTTP_CF_VISITOR'] && request.env['HTTP_CF_VISITOR'].include?('https')
  protocol = 'https://'
  request.env['REQUEST_URI']     = "https://#{request.env['REQUEST_URI'][7..-1]}" if (request.env['REQUEST_URI'] =~ %r"http://") == 0    
  request.env['SERVER_PORT']     = '443' if request.env['SERVER_PORT'] == '80'
  request.env['HTTP_REFERER']    = "https://#{request.env['HTTP_REFERER'][7..-1]}" if (request.env['HTTP_REFERER'] =~ %r"http://") == 0    
  request.env['rack.url_scheme'] = 'https'
  request.env['HTTPS']           = 'on'
end

content_for :modal_css do
  %><%= stylesheet_link_tag "caboose/modal", :media => "all" %><%
  if File.exists?("#{Rails.root}/app/assets/stylesheets/modal.css")
    %><%= stylesheet_link_tag "modal", :media => "all" %><%
  end
  %><%= yield :caboose_css %><%
end

css = yield(:modal_css)
css.gsub!("<link href=\"//", "<link href=\"#{protocol}")
css.gsub!("<link href='//" , "<link href='#{protocol}")
if protocol == 'https://' 
  css.gsub!("<link href=\"http://", "<link href=\"https://")
  css.gsub!("<link href='http://" , "<link href='https://")
end

content_for :modal_js do
  %><%= javascript_include_tag "caboose/modal" %><%
  if File.exists?("#{Rails.root}/app/assets/javascripts/modal.js")
    %><%= javascript_include_tag "modal" %><%
  end  
  %><%= yield :caboose_js %><%
end

js = yield(:modal_js)
js.gsub!("<script src=\"//", "<script src=\"#{protocol}")
js.gsub!("<script src='//" , "<script src='#{protocol}")
if protocol == 'https://' 
  js.gsub!("<script src=\"http://", "<script src=\"https://")
  js.gsub!("<script src='http://" , "<script src='https://")
end

%><!DOCTYPE html> 
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<title>Modal Caboose</title>	
<%= raw css %>
<%= csrf_meta_tags %>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
</head>
<body>
<div id='modal_wrapper'>
  <div id='modal_content'>
  
<%= yield %>

  </div>
</div>
<%= raw js %>
</body>
</html>
