<!DOCTYPE html> 
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<title>Modal Caboose</title>	
<%= stylesheet_link_tag "caboose/modal", :media => "all" %>
<% if File.exists?("#{Rails.root}/app/assets/stylesheets/modal.css") %>
<%= stylesheet_link_tag "modal", :media => "all" %>
<% end %>
<%= yield :caboose_css %>
<%= csrf_meta_tags %>
</head>
<body>
<div id='modal_wrapper'>
  <div id='modal_content'>
  
<%= yield %>

  </div>
</div>
<%= javascript_include_tag "caboose/modal" %>
<% if File.exists?("#{Rails.root}/app/assets/javascripts/modal.js") %>
<%= javascript_include_tag "modal" %>
<% end %>
<%= yield :caboose_js %>
</body>
</html>
