<%
sc = @store_config
%>
<%= render :partial => 'caboose/store/admin_header' %>

<p><div id='site_<%= @site.id %>_use_store'                    ></div></p>
<p><div id='storeconfig_<%= sc.id %>_fulfillment_email'        ></div></p>
<p><div id='storeconfig_<%= sc.id %>_shipping_email'           ></div></p>
<p><div id='storeconfig_<%= sc.id %>_handling_percentage'      ></div></p>
<p><div id='storeconfig_<%= sc.id %>_download_url_expires_in'  ></div></p>
<p><div id='storeconfig_<%= sc.id %>_starting_order_number'    ></div></p>

<h2>Dimension Units</h2>
<p><div id='storeconfig_<%= sc.id %>_length_unit'              ></div></p>
<p><div id='storeconfig_<%= sc.id %>_weight_unit'              ></div></p>

<%= render :partial => 'caboose/store/admin_footer' %>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

$(document).ready(function() {

  new ModelBinder({
    name: 'Site',
    id: <%= @site.id %>,
    update_url: '/admin/sites/<%= @site.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [      
      { name: 'use_store', nice_name: 'Enable Store', type: 'checkbox', value: <%= raw Caboose.json(@site.use_store ? true : false) %>, width: 400 }      
    ]    
  });

  new ModelBinder({
    name: 'StoreConfig',
    id: <%= sc.id %>,
    update_url: '/admin/store',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [            
      { name: 'fulfillment_email'        , nice_name: 'Fulfillment Email'                 , type: 'text'     , value: <%= raw Caboose.json(sc.fulfillment_email          ) %>, width: 400 },
      { name: 'shipping_email'           , nice_name: 'Shipping Email'                    , type: 'text'     , value: <%= raw Caboose.json(sc.shipping_email             ) %>, width: 400 },
      { name: 'handling_percentage'      , nice_name: 'Handling Percentage'               , type: 'text'     , value: <%= raw Caboose.json(sc.handling_percentage        ) %>, width: 400 },
      { name: 'length_unit'              , nice_name: 'Length'                            , type: 'select'   , value: <%= raw Caboose.json(sc.length_unit                ) %>, width: 400 , options_url: '/admin/store/length-unit-options' },
      { name: 'weight_unit'              , nice_name: 'Weight'                            , type: 'select'   , value: <%= raw Caboose.json(sc.weight_unit                ) %>, width: 400 , options_url: '/admin/store/weight-unit-options' },      
      { name: 'download_url_expires_in'  , nice_name: 'Download URL Expires In (minutes)' , type: 'text'     , value: <%= raw Caboose.json(sc.download_url_expires_in    ) %>, width: 400 },
      { name: 'starting_order_number'    , nice_name: 'Starting Order Number'             , type: 'text'     , value: <%= raw Caboose.json(sc.starting_order_number      ) %>, width: 400 }                                            
    ]    
  });
                                                                                                                                                                                    
});

</script>
<% end %>
