<%
sc = @store_config
%>
<%= render :partial => 'caboose/store/admin_header' %>

<p><div id='storeconfig_<%= sc.id %>_pp_name'                  ></div></p>
<p><div id='storeconfig_<%= sc.id %>_pp_username'              ></div></p>
<p><div id='storeconfig_<%= sc.id %>_pp_password'              ></div></p>
<p><div id='storeconfig_<%= sc.id %>_pp_relay_domain'          ></div></p>
<p><div id='storeconfig_<%= sc.id %>_pp_testing'               ></div></p>

<%= render :partial => 'caboose/store/admin_footer' %>

<% content_for :caboose_js do %>
<script type="text/javascript">

$(document).ready(function() {

  new ModelBinder({
    name: 'StoreConfig',
    id: <%= sc.id %>,
    update_url: '/admin/store',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'pp_name'                  , nice_name: 'Type'                              , type: 'select'   , value: <%= raw Caboose.json(sc.pp_name                    ) %>, width: 400 , options_url: '/admin/store/payment-processor-options' },
      { name: 'pp_username'              , nice_name: 'Username'                          , type: 'text'     , value: <%= raw Caboose.json(sc.pp_username                ) %>, width: 400 },
      { name: 'pp_password'              , nice_name: 'Password'                          , type: 'text'     , value: <%= raw Caboose.json(sc.pp_password                ) %>, width: 400 },
      { name: 'pp_relay_domain'          , nice_name: 'Relay Domain'                      , type: 'text'     , value: <%= raw Caboose.json(sc.pp_relay_domain            ) %>, width: 400 },
      { name: 'pp_testing'               , nice_name: 'Test Mode'                         , type: 'checkbox' , value: <%= raw Caboose.json(sc.pp_testing ? 1 : 0         ) %>, width: 400 }
    ]    
  });
                                                                                                                                                                                    
});

</script>
<% end %>
