<h1>Edit Category</h1>

<p><div class="push-below" id="category_<%= @category.id %>_name"></div></p>
<p><div class="push-below" id="category_<%= @category.id %>_slug"></div></p>
<p><div class="push-below" id="category_<%= @category.id %>_status"></div></p>
<p><div class="push-below" id="category_<%= @category.id %>_image"></div></p>

<h2>Products</h2>

<% if @category.products.any? %>
  <ul>
    <% @category.products.each do |product| %>
      <li><a href="/admin/products/<%= product.id %>/general"><%= product.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>This category has no associated products.</p>
<% end %>

<div id="message"></div>
<input type="button" value="< Back" onclick="window.location='/admin/categories'" />
<input type="button" value="Delete Category" onclick="delete_category(<%= @category.id %>)" />

<% content_for :caboose_css do %>
  <style>
    .push-below { margin-bottom: 24px; }
  </style>
<% end %>

<% content_for :caboose_js do %>
  <%= javascript_include_tag "caboose/model/all" %>
  
  <script type='text/javascript'>
    var modal = false;
    
    $(window).load(function() {
      modal = new CabooseModal(800);
    });
    
    $(document).ready(function() {
      m = new ModelBinder({
        name: 'Category',
        id: <%= @category.id %>,
        update_url: '/admin/categories/<%= @category.id %>',
        authenticity_token: '<%= form_authenticity_token %>',
        attributes: [
          { name: 'name'  , nice_name: 'Name'  , type: 'text'  , value: <%= raw Caboose.json(@category.name) %>               , width: 400 },
          { name: 'slug'  , nice_name: 'Slug'  , type: 'text'  , value: <%= raw Caboose.json(@category.slug) %>               , width: 400 }, 
          { name: 'status', nice_name: 'Status', type: 'select', value: <%= raw Caboose.json(@category.status) %>             , width: 400  , text: <%= raw Caboose.json(@category.status) %>, options_url: '/admin/categories/status-options' },
          { name: 'image' , nice_name: 'Image' , type: 'image' , value: <%= raw Caboose.json(@category.image.url(:medium)) %> , width: 200 }
        ]
      });
    });
    
    function delete_category(cat_id, confirm) {
      if (!confirm) {
        var p = $('<p/>').addClass('note error').css('margin-bottom', '10px')
          .append("Are you sure you want to delete the category?<br />This can't be undone.<br /><br />")
          .append($('<input/>').attr('type', 'button').val('Yes').click(function() { delete_category(cat_id, true); })).append(' ')
          .append($('<input/>').attr('type', 'button').val('No').click(function() { $('#message').empty(); modal.autosize(); }));      
        
        modal.autosize(p, 'message');
        
        return;
      }
      
      modal.autosize("<p class='loading'>Deleting the category...</p>");
      
      $.ajax({
        url: '/admin/categories/' + cat_id,
        type: 'delete',
        success: function(resp) {
          if (resp.error) modal.autosize("<p class='note error'>" + resp.error + "</p>");
          if (resp.redirect) window.location = resp.redirect;
        }
      });
    }
  </script>
<% end %>
