<p><img src='<%= @order.site.logo.url(:thumb) %>' /></p>

<h1>Thank you for your order!</h1>

<p>Order #<%= @order.order_number %></p>

<h2>Order Details</h2>

<table>
  <tr>
    <th>Package</th>
    <th>Line Item</th>
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @order.order_packages.each do |op| %>
    <% op.line_items.each_with_index do |li, i| %>
      <% v = li.variant %>
      <% p = v.product %>
      <tr>
        <% if i == 0 %>
          <td rowspan="<%= op.line_items.count %>">
            <div><%= op.shipping_method.service_name %></div>
            <div><%= op.status %></div>
            <% if op.tracking_number %><div><%= op.tracking_number %></div><% end %>
          </td>
        <% end %>
        <td>
          <%= p.title %>
          <% if li.is_gift %>
            <p>This item is a gift.</p>
            <ul>
              <li><% if li.gift_wrap %>Gift wrap (<%= number_to_currency(p.gift_wrap_price) %>)<% else %>Do not gift wrap<% end %></li>
              <li><% if li.include_gift_message %>Gift message: <%= li.gift_message %><% else %>No gift message<% end %></li>
              <li><% if li.hide_prices %>Hide all prices<% else %>Show all prices<% end %></li>
            </ul>
          <% end %>
        </td>
        <td align='right'><%= number_to_currency(li.unit_price) %></td>
        <td align='right'><%= li.quantity %></td>
        <td align='right'><%= number_to_currency(li.subtotal) %></td>
      </tr>
    <% end %>
  <% end %>  
  <% @order.line_items.each do |li| %>
    <% next if li.order_package_id %>
    <% v = li.variant %>
    <% p = v.product %>
    <tr>
      <td>Not assigned to a package</td>                
      <td><%= p.title %></td></td>
      <td align='right'><%= number_to_currency(li.unit_price) %></td>
      <td align='right'><%= li.quantity %></td>
      <td align='right'><%= number_to_currency(li.subtotal) %></td>
    </tr>  
  <% end %>
  <tr><td colspan="4">Subtotal:               </td><td><%= number_to_currency(@order.subtotal) %></td></tr>
  <tr><td colspan="4">Tax:                    </td><td><%= number_to_currency(@order.tax)      %></td></tr>
  <tr><td colspan="4">Shipping and Handling:  </td><td><%= number_to_currency(@order.shipping + @order.handling) %></td></tr>
  <% if @order.gift_wrap && @order.gift_wrap > 0 %>  
    <tr><td colspan="4">Gift wrap:            </td><td><%= number_to_currency(@order.gift_wrap) %></td></tr>
  <% end %>
  <% if @order.discounts %>
    <% @order.discounts.each do |d| %>
      <tr><td colspan="4">"<%= d.gift_card.code %>" gift card: </td><td><%= number_to_currency(d.amount) %></td></tr>
    <% end %>
  <% end %>
  <% if @order.custom_discount %>
    <tr><td colspan="4">Discount: </td><td><%= number_to_currency(d.custom_discount) %></td></tr>
  <% end %>      
  <tr><td colspan="4">Total:     </td><td><%= number_to_currency(@order.total) %></td></tr>
</table>

<% if @order.shipping_address %>
  <% sa = @order.shipping_address %>
  <h2>Shipping Address</h2>
  <p>
    <%= sa.first_name %> <%= sa.last_name %><br />
    <%= sa.address1 %><br />
    <% if sa.address2 %><%= sa.address2 %><br /><% end %>
    <%= sa.city %>, <%= sa.state %> <%= sa.zip %>
  </p>
<% end %>

<% if @order.billing_address %>
  <% ba = @order.billing_address %>
  <h2>Billing Address</h2>
  <p>
    <%= ba.first_name %> <%= ba.last_name %><br />
    <%= ba.address1 %><br />
    <% if ba.address2 %><%= ba.address2 %><br /><% end %>
    <%= ba.city %>, <%= ba.state %> <%= ba.zip %>
  </p>
<% end %>
