
<h1>Shipping Rates</h1>
<div id="checkout">  
  <% if @rates.count == 0 %>
    <p>It looks like no rates were returned. Please contact the site adminstrator.</p>    
  <% elsif @rates.count == 1 %>
    <p>Please select which shipping method you'd like to use.</p>
    <p>
    <% op = @rates[0][:order_package] %>
    <% @rates[0][:rates].each do |rate| %>
      <% sm = rate[:shipping_method] %>
      <a href='#' class='shipping_rate btn'
        data-order_package_id="<%= op.id %>"
        data-shipping_method_id="<%= sm.id %>"
        data-total="<%= rate[:total_price] %>"
        ><%= number_to_currency(rate[:total_price], :precision => 2) %><br /><%= sm.service_name %>
      </a>
    <% end %>
    </p>
  <% else %>
    <p>Your order must be shipped in multiple packages.  Please select how you would like each package to be delivered.</p>
    <table>
      <tr>
        <th>Package</th>
        <th>Shipping Options</th>
      </tr>
      <% @rates.each_with_index do |package_rates, i| %>
        <% op = package_rates[:order_package] %>
        <% sp = op.shipping_package %>          
        <tr>                    
          <td valign='top'>
            <ul><% op.line_items.each do |li| %><li><%= li.variant.product.title %> (<%= li.variant.title %>)<% end %></ul>
          </td>
          <td valign='top'>
            <% package_rates[:rates].each do |rate| %>
              <% sm = rate[:shipping_method] %>
              <a href='#' class='shipping_rate btn'
                data-order_package_id="<%= op.id %>"
                data-shipping_method_id="<%= sm.id %>"
                data-total="<%= rate[:total_price] %>"
                ><%= number_to_currency(rate[:total_price], :precision => 2) %><br /><%= sm.service_name %>
              </a>              
            <% end %>
          </td>
        </tr>        
      <% end %>
    </table>
  <% end %>
</div>
    
<div id='message'></div>
<p><a href="/">return to the store</a></p>
                                    
<%= content_for :caboose_js do %>
<%= javascript_include_tag 'caboose/checkout_shipping' %>
<% end %>
<%= content_for :caboose_css do %>
<%= stylesheet_link_tag 'caboose/message_boxes' %>
<%= stylesheet_link_tag 'caboose/checkout' %>
<style type='text/css'>
a.shipping_rate { margin-bottom: 10px; margin-right: 10px; }
</style>
<% end %>