
<div id="checkout-thanks-wrapper" style="max-width:1000px;margin:0 auto;padding:20px 2%;">
<h3>All Finished!</h3>
<p>Thank you for your order! Your order has been submitted.</p>
<p>Please allow up to 48 hours for your order to be processed.  Orders are processed during normal business hours Monday through Friday.</p>


<% if @last_invoice.has_downloadable_items? %>
	<% sc = Caboose::StoreConfig.where(:site_id => @site.id).last %>
	<% instr = (sc && !sc.download_instructions.blank?) ? sc.download_instructions : "Your order contained downloadable items. Download your items with the links below:" %>
  <div><%== instr %></div>
  <ul id='downloads'>
    <% @last_invoice.line_items.each do |li| %>
      <% if li.variant.downloadable %>
        <li><a href='/my-account/invoices/<%= @last_invoice.id %>/line-items/<%= li.id %>/download' target="_blank"><%= li.variant.product.title %></a></li>
      <% end %>
    <% end %>
  </ul>   
<% end %>

<br />
<p><a href="/products" class="btn">Continue Shopping</a></p>

</div>


<%= content_for :caboose_css do %>
<style type='text/css'>

p { margin-bottom: 10px; }

#downloads { margin: 0 0 10px 0; padding: 0; list-style: none; }
#downloads li { margin: 0; padding: 0; }

</style>
<% end %>