<%
p = @product
v = @variant
%>
<h1>Edit Variant</h1>
<p><strong>Product:</strong> <%= p.title %></p>
<table>
  <tr>
    <td valign='top'>
<h2>Options</h2>
<% if p.option1 %><div id='variant_<%= v.id %>_option1'></div><% end %>
<% if p.option2 %><div id='variant_<%= v.id %>_option2'></div><% end %>
<% if p.option3 %><div id='variant_<%= v.id %>_option3'></div><% end %>
<div id='variant_<%= v.id %>_status'             ></div>
<div id='variant_<%= v.id %>_requires_shipping'  ></div>
<div id='variant_<%= v.id %>_allow_backorder'    ></div>
<div id='variant_<%= v.id %>_taxable'            ></div>
<div id='variant_<%= v.id %>_downloadable'       ></div>
    </td><td valign='top'>
<h2>Inventory</h2>
<div id='variant_<%= v.id %>_alternate_id'       ></div>
<div id='variant_<%= v.id %>_sku'                ></div>
<div id='variant_<%= v.id %>_barcode'            ></div>                
<div id='variant_<%= v.id %>_price'              ></div>
<div id='variant_<%= v.id %>_quantity_in_stock'  ></div>
<div id='variant_<%= v.id %>_ignore_quantity'  ></div>
    </td><td valign='top'>
<h2>Dimensions</h2>
<div id='variant_<%= v.id %>_cylinder'           ></div>
<div id='variant_<%= v.id %>_weight'             ></div>
<div id='variant_<%= v.id %>_length'             ></div>
<div id='variant_<%= v.id %>_width'              ></div>
<div id='variant_<%= v.id %>_height'             ></div>
    </td><td valign='top'>
<h2>Sale</h2>
<div id='variant_<%= v.id %>_sale_price'         ></div>
<div id='variant_<%= v.id %>_date_sale_starts'   ></div>
<div id='variant_<%= v.id %>_time_sale_starts'   ></div>
<div id='variant_<%= v.id %>_date_sale_ends'     ></div>
<div id='variant_<%= v.id %>_time_sale_ends'     ></div>      
    </td>
  </tr>
</table>
<div id='variant_<%= v.id %>_download_path'      ></div>
<div id='message'></div>
<p>
<input type='button' value='< Back' onclick="window.location='/admin/products/<%= p.id %>/variants';" />
<input type='button' value='Generate Download URL' onclick="download_url();" />
<input type='button' value='Delete Variant' onclick="delete_variant(<%= v.id %>);" />
</p>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<%= javascript_include_tag "caboose/admin_products" %>
<script type='text/javascript'>
<%
sc = @site.store_config
%>
$(document).ready(function() {
  m = new ModelBinder({
    name: 'Variant',
    id: <%= v.id %>,
    update_url: '/admin/products/<%= v.product_id %>/variants/<%= v.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      <% if p.option1 %>{ name: 'option1' , nice_name: <%= raw Caboose.json(p.option1) %> , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.option1                ) %>, width: 250 },<% end %>
      <% if p.option2 %>{ name: 'option2' , nice_name: <%= raw Caboose.json(p.option2) %> , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.option2                ) %>, width: 250 },<% end %>
      <% if p.option3 %>{ name: 'option3' , nice_name: <%= raw Caboose.json(p.option3) %> , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.option3                ) %>, width: 250 },<% end %>
      { name: 'alternate_id'              , nice_name: 'Alternate ID'                     , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.alternate_id           ) %>, width: 250 },      
      { name: 'sku'                       , nice_name: 'SKU'                              , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.sku                    ) %>, width: 250 },                         
      { name: 'barcode'                   , nice_name: 'Barcode'                          , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.barcode                ) %>, width: 250 }, 
      { name: 'price'                     , nice_name: 'Price'                            , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(sprintf("%.2f", v.price) ) %>, width: 250 },
      { name: 'sale_price'                , nice_name: 'Sale price'                       , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.sale_price             ) %>, width: 275 },
      { name: 'date_sale_starts'          , nice_name: 'Sale starts'                      , type: 'datetime' , align: 'right' , value: <%= raw Caboose.json(v.date_sale_starts ? v.date_sale_starts.in_time_zone(@logged_in_user.timezone).strftime('%m/%d/%Y %I:%M %P') : '') %>, width: 275 },      
      { name: 'date_sale_ends'            , nice_name: 'Sale ends'                        , type: 'datetime' , align: 'right' , value: <%= raw Caboose.json(v.date_sale_ends   ? v.date_sale_ends.in_time_zone(@logged_in_user.timezone).strftime('%m/%d/%Y %I:%M %P')   : '') %>, width: 275 },      
      { name: 'quantity_in_stock'         , nice_name: 'Quantity'                         , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.quantity_in_stock      ) %>, width: 250 }, 
      { name: 'ignore_quantity'           , nice_name: 'Ignore Quantity'                  , type: 'checkbox' , align: 'right' , value: <%= raw Caboose.json(v.ignore_quantity        ) %>, width: 250 },
      { name: 'weight'                    , nice_name: 'Weight (<%= sc.weight_unit %>)'   , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.weight                 ) %>, width: 250 }, 
      { name: 'length'                    , nice_name: 'Length (<%= sc.length_unit %>)'   , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.length                 ) %>, width: 250 }, 
      { name: 'width'                     , nice_name: 'Width (<%= sc.length_unit %>)'    , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.width                  ) %>, width: 250 }, 
      { name: 'height'                    , nice_name: 'Height (<%= sc.length_unit %>)'   , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.height                 ) %>, width: 250 }, 
      { name: 'cylinder'                  , nice_name: 'Cylinder'                         , type: 'checkbox' , align: 'right' , value: <%= raw Caboose.json(v.cylinder               ) %>, width: 250 }, 
      { name: 'requires_shipping'         , nice_name: 'Requires shipping'                , type: 'checkbox' , align: 'right' , value: <%= raw Caboose.json(v.requires_shipping      ) %>, width: 250 }, 
      { name: 'taxable'                   , nice_name: 'Taxable'                          , type: 'checkbox' , align: 'right' , value: <%= raw Caboose.json(v.taxable                ) %>, width: 250 },
      { name: 'allow_backorder'           , nice_name: 'Allow backorder'                  , type: 'checkbox' , align: 'right' , value: <%= raw Caboose.json(v.allow_backorder        ) %>, width: 250 }, 
      { name: 'status'                    , nice_name: 'Status'                           , type: 'select'   , align: 'right' , value: <%= raw Caboose.json(v.status                 ) %>, width: 250, options_url: '/admin/variants/status-options' },
      { name: 'downloadable'              , nice_name: 'Downloadable'                     , type: 'checkbox' , align: 'right' , value: <%= raw Caboose.json(v.downloadable           ) %>, width: 250 },
      { name: 'download_path'             , nice_name: 'Download path'                    , type: 'text'     , align: 'right' , value: <%= raw Caboose.json(v.download_path          ) %>, width: 800 }      
    ]
  });
});

function download_url(expires_in)
{
  if (!expires_in)
  {
    var p = $('<p/>').addClass('note')
      .append("For how many minutes do you want the download link to be valid?<br />")
      .append($('<input/>').attr('type', 'text').attr('id', 'expires_in').css('width', '50px').val('5'))
      .append(' minutes<br/>')
      .append($('<input/>').attr('type', 'button').val('Generate Download URL').click(function() {
        download_url($('#expires_in').val());
      }));
    $('#message').empty().append(p);
    return;
  }
  $('#message').html("<p class='loading'>Generating download URL...</p>");
  $.ajax({
    url: '/admin/products/<%= v.product_id %>/variants/<%= v.id %>/download-url',
    type: 'get',
    data: { expires_in: expires_in },
    success: function(resp) {
      if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.success) $('#message').html("<p class='note success'>The URL has been generated successfully:<br/><br/>" + resp.url + "</p>");
    }
  });
}

</script>
<% end %>
