<h1>Edit Calendar</h1>
<p><div id='calendar_<%= @calendar.id %>_name'        ></div></p>
<p><div id='calendar_<%= @calendar.id %>_color'       ></div></p>
<!-- <p><div id='calendar_<%= @calendar.id %>_description' ></div></p> -->

<form action='/admin/calendars' method='post' id='new_calendar_form' style="display:none;">
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>  
  <p><input type='text' name='name' id='name' placeholder='Name' style='width: 500px;'></p>  
  <div id='new_message'></div>
  <p>
    <input type='button' value='Cancel' onclick="$('#new_calendar_form').slideToggle();">
    <input type='submit' value='Add New Calendar' onclick="add_calendar(); return false;">
  </p>
</form>

<p>To add an event to the calendar, click the date below:</p>  

<div class="calendar-wrapper">
  <div id="calendar"></div>
</div>

<div id='message'></div>
<div id='controls'>
<input type='button' value='Back'            onclick="window.location='/admin/calendars';" />
<input type='button' value='Delete Calendar' onclick="delete_calendar(<%= @calendar.id %>);" />
</div>

<% content_for :caboose_css do %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/fullcalendar.min.css" %>
  <%= stylesheet_link_tag 'caboose/spectrum' %>
  <style>
    .calendar-wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px 2%;
    }
    .fc-day-grid-event {
      padding: 2px 2px 1px 2px;
    }
    .calendar_<%= @calendar.id %>_color_bound_color {
      width: 100px !important;
    }
    .fc-day {
      cursor: pointer;
    }
    .fc-day:hover {
      background-color: #e7f3ff;
    }
    #content {
      padding-right: 30px;
    }
  </style>
<% end %>
<% content_for :caboose_js do %>
  <%= javascript_include_tag "//cdn.jsdelivr.net/npm/moment@2.19.1/moment.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/fullcalendar.min.js" %>
  <%= javascript_include_tag "caboose/model/all" %>
  <%= javascript_include_tag "caboose/spectrum" %>
  <script>
    var toshow = 'month';
    $(document).ready(function() {
      $("#calendar").fullCalendar({
        defaultView: toshow,
        height: '700',
        header: {
          left: 'title',
          center: '',
          right: 'prev,next today'
        },
        eventSources: [
          {
            url: "/calendar/feed/<%= @calendar.id %>?admin=true&published=true",
            color: "<%= @calendar.color %>",
            textColor: "white"
          },
          {
            url: "/calendar/feed/<%= @calendar.id %>?admin=true&published=false",
            color: "#a9a9a9",
            textColor: "white"
          }
        ],
        eventClick: function(calEvent, jsEvent, view) {
          window.location = '/admin/calendars/<%= @calendar.id %>/events/' + calEvent.id;
        },
        dayClick: function(date, jsEvent, view) {
          $.ajax({
            url: '/admin/calendars/<%= @calendar.id %>/events',
            type: 'post',
            data: {
              begin_date: date.format()
            },
            success: function(resp) {
              if (resp.redirect) window.location = resp.redirect;
            }
          });
        }
      }); 
    });

    $(document).ready(function() {
      new ModelBinder({
        name: 'Calendar',
        id: <%= @calendar.id %>,
        update_url: '/admin/calendars/<%= @calendar.id %>',
        authenticity_token: '<%= form_authenticity_token %>',
        attributes: [
          { name: 'name'        , nice_name: 'Name'        , type: 'text'    , value: <%= raw Caboose.json(@calendar.name        ) %>, width: 400 },
     //     { name: 'description' , nice_name: 'Description' , type: 'textarea', value: <%= raw Caboose.json(@calendar.description ) %>, width: 400, height: 100 },
          { name: 'color' , nice_name: 'Color' , type: 'color', value: <%= raw Caboose.json(@calendar.color ) %>, width: 400, height: 100 }  
        ]    
      });  
    });

    function delete_calendar(calendar_id, confirm)
    {
      if (!confirm)
      {
        var p = $('<p/>').addClass('note confirm')
          .append('Are you sure you want to delete the calendar? ')
          .append($('<input/>').attr('type','button').val('Yes').click(function() { delete_calendar(calendar_id, true); })).append(' ')
          .append($('<input/>').attr('type','button').val('No').click(function() { $('#message').empty(); }));
        $('#message').empty().append(p);
        return;
      }
      $('#message').html("<p class='loading'>Deleting calendar...</p>");
      $.ajax({
        url: '/admin/calendars/' + calendar_id,
        type: 'delete',
        success: function(resp) {
          if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>");
          if (resp.redirect) window.location = resp.redirect;
        }
      });
    }

  </script>
<% end %>