
<h1>Edit Calendar</h1>
<div id='calendar_container'></div>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<%= javascript_include_tag "caboose/modal_controller" %>
<%= javascript_include_tag "caboose/admin_calendar_event_modal_controller" %>
<%= javascript_include_tag "caboose/admin_calendar_controller" %>
<script type="text/javascript">

var controller = false;
$(document).ready(function() {
  controller = new AdminCalendarController({
    calendar_id: <%= @calendar.id %>,
    authenticity_token: '<%= form_authenticity_token %>'      
  });    
});

</script>
<% end %>

<% content_for :caboose_css do %>
<style type='text/css'>
      
#calendar table { border-collapse: collapse; width: 95%; }
#calendar th { border: #666 1px solid; background: #666; color: #fff; margin: 0; padding: 4px 8px; }
#calendar td { border: #666 1px solid; position: relative; margin: 0; padding: 0; width: 14%; height: 100px; cursor: pointer;vertical-align: top; }
#calendar td.blank { background: #efefef; border: #666 1px solid; }
#calendar td.over { background: #ffcc99; }
#calendar td span.day { display: block; float: left; border-right: #666 1px solid; border-bottom: #666 1px solid; width: 20px; text-align: center; }
#calendar td ul { margin: 0; padding: 0; list-style: none; }
#calendar td ul li { margin: 0; padding: 0; list-style: none; }
#calendar td ul li a { display: block; }
#calendar td ul li a:hover { background: #fff; }
.calendar_<%= @calendar.id %>_color_bound_color {
  width: 100px !important;
}

#datetime_container { }

#repeat_dates_container { clear: left; }
#week_container { clear: left; padding-top: 10px; }

</style>
<% end %>
