 
<h1>Edit Page Block Type</h1>
<div id='pageblocktype_<%= @block_type.id %>_name'></div>
<div id='pageblocktype_<%= @block_type.id %>_description'></div>
<div id='pageblocktype_<%= @block_type.id %>_use_render_function'></div>
<div id='pageblocktype_<%= @block_type.id %>_render_function'></div>

<h2>Fields</h2>
<p><a href='/admin/page-block-types/<%= @block_type.id %>/fields/new'>New Field</a></p>
<% if @block_type.fields.count > 0 %>
  <table class='data'>
    <tr>
      <th>Short Name</th>
      <th>Long Name</th>
      <th>Field Type</th>      
    </tr>
  <% @block_type.fields.each do |f| %>
    <tr onclick="window.location='/admin/page-block-types/<%= @block_type.id %>/fields/<%= f.id %>/edit';">
      <td><%= f.name       %></td>
      <td><%= f.nice_name  %></td>
      <td><%= f.field_type %></td>    
    </tr>
  <% end %>
  </table><br />
<% else %>
  <p>This type of page block doesn't have any fields.</p>
<% end %>

<div id='message'></div>
<p>
<input type='button' value='< Back' onclick="window.location='/admin/page-block-types';" />
<input type='button' value='Delete Block Type' onclick="delete_block_type(<%= @block_type.id %>);" />
</p>

<% content_for :caboose_css do %>
<style type='text/css'>
#pageblocktype_<%= @block_type.id %>_render_function { font-family: Courier; font-size: 80%; }
</style>
<% end %>
<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

function delete_block_type(block_type_id, confirm)
{
  if (!confirm)
  {
    var p = $('<p/>').addClass('note warning')
      .append('Are you sure you want to delete the block type? ')
      .append($('<input/>').attr('type', 'button').val('Yes').click(function() { delete_block_type(block_type_id, true); })).append(" ")
      .append($('<input/>').attr('type', 'button').val('No' ).click(function() { $('#message').empty(); }));
    $('#message').empty().append(p);
    return;
  }
  $('#message').empty().append($('<p/>').addClass('loading').html('Deleting block type...'));
  $.ajax({
    url: '/admin/page-block-types/' + block_type_id,
    type: 'delete',
    success: function(resp) {
      if (resp.error) $('#message').empty().append($('<p/>').addClass('note error').html(resp.error));
      if (resp.redirect) window.location = resp.redirect;
    }
  });
}

$(document).ready(function() {
  m = new ModelBinder({
    name: 'PageBlockType',
    id: <%= @block_type.id %>,
    update_url: '/admin/page-block-types/<%= @block_type.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'name'                , nice_name: 'Name'                , type: 'text'     , value: <%= raw Caboose.json(@block_type.name)            %> , width: 400 },
      { name: 'description'         , nice_name: 'Description'         , type: 'text'     , value: <%= raw Caboose.json(@block_type.description)     %> , width: 400 },
      { name: 'use_render_function' , nice_name: 'Use Render Function' , type: 'checkbox' , value: <%= @block_type.use_render_function ? 'true' : 'false' %> , width: 400 },
      { name: 'render_function'     , nice_name: 'Render Function'     , type: 'textarea' , value: <%= raw Caboose.json(@block_type.render_function) %> , width: 800, height: 200 }
    ]
  });
});

</script>
<% end %>
