<p class="wrapper">Your Cart:</p>

<ul>
  <% _.each(invoice.line_items, function(lineItem) { %>
    <li data-id="<%= lineItem.id %>">
      <div class="wrapper">
        <aside>
          <figure style="background-image: url(<%= lineItem.variant.images[0].urls.thumb %>)"></figure>
          <p><%= lineItem.title %><br />Qty: <%= lineItem.quantity %><br /><span class="price">$<%= ((parseFloat(lineItem.unit_price) * 100) / 100).toFixed(2) %></span></p>
        </aside>        
        <section>
          <p>$<%= ((parseFloat(lineItem.subtotal) * 100) / 100).toFixed(2) %></p>
        </section>
      </div>
    </li>
  <% }); %>
</ul>


<p class="wrapper subtotal"><span>Subtotal:</span> <span>$<%= ((parseFloat(invoice.subtotal) * 100) / 100).toFixed(2) %></span></p>

<% if (invoice.shipping > 0) { %>
  <p class="wrapper shipping"><span>Shipping & Handling:</span> <span>$<%= (((parseFloat(invoice.shipping) + parseFloat(invoice.handling)) * 100) / 100).toFixed(2) %></span></p>
<% } %>

<% if (invoice.tax > 0 && invoice.billing_address.state == 'AL') { %>
  <p class="wrapper tax"><span>Tax <small>(if in Alabama)</small>:</span> <span>$<%= parseFloat(Math.round(invoice.tax * 100) / 100).toFixed(2) %></span></p>
<% } %>

<p class="wrapper total"><span>Total:</span> <span>$<%= parseFloat(Math.round(invoice.total * 100) / 100).toFixed(2) %></span></p>

