
<div class="posts">
  <% if @posts && @posts.count > 0 %>
    <ul>
      <% @posts.each do |p| %>
  	    <li>
  	      <figure><a href="/posts/<%= p.id %>"><img src="<%= p.image.url(:thumb) %>" /></a></figure>
  	      <h5><strong><%= raw a[:title] %></strong></h5>
  	  		<p class="h-space-mvt"><%= a[:created_at].strftime("%m/%d/%Y")  %></p>
  	  		<p class="h-space-mbt"><%= truncate(strip_tags(a[:body]), :length => 175) %></p>
  	  		<a class="m-btn-red h-space-mts" href="/news/<%= a.id %>">Read More</a>  	  		
  	  	</li>
  	  <% end %>
  	</ul>
  <% else %>
    <p>There are no posts right now.</p>
  <% end %>
</div>