<div class="constrain">
  <div id='cart'></div>
  <p class='controls' style="text-align:right;margin-top:15px;">
    <input class="btn" type='button' value='Continue Shopping' onclick="window.location='/products';" />
    <input class="btn" type='button' value='Checkout' onclick="window.location='/checkout';" />
  </p>
</div> 

<% content_for :caboose_css do %>
<%= stylesheet_link_tag 'caboose/message_boxes' %>
<%= stylesheet_link_tag 'caboose/model_binder' %>
<%= stylesheet_link_tag 'caboose/cart' %>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'caboose/model/all' %>
<%= javascript_include_tag 'caboose/cart' %>
<script type='text/javascript'>

$(document).ready(function() {
  var controller = new Cart({
    allow_edit: true,
    show_shipping: false,
    show_tax: false,
    show_discounts: false,
    show_total: false    
  });  
});

</script>
<% end %>
