<%
bt = @block_type
%>
<div id='crumbtrail'>
  <a href='/admin'>Admin</a> >
  <a href='/admin/block-types'>Block Types</a>
</div>

<h1>Edit Block Type</h1>
<p><div id='blocktype_<%= bt.id %>_description'></div></p>
<p><div id='blocktype_<%= bt.id %>_name'></div></p>
<p><div id='blocktype_<%= bt.id %>_parent_id'></div></p>
<p><div id='blocktype_<%= bt.id %>_block_type_category_id'></div></p>
<p><div id='blocktype_<%= bt.id %>_field_type'></div></p>

<p><div id='blocktype_<%= bt.id %>_default'></div></p>
<p><div id='blocktype_<%= bt.id %>_width'></div></p>
<p><div id='blocktype_<%= bt.id %>_height'></div></p>
<p><div id='blocktype_<%= bt.id %>_fixed_placeholder'></div></p>
<p><div id='blocktype_<%= bt.id %>_options_url'></div></p>
<p><div id='blocktype_<%= bt.id %>_options'></div></p>

<p><div id='blocktype_<%= bt.id %>_use_render_function'></div></p>
<p><div id='blocktype_<%= bt.id %>_use_render_function_for_layout'></div></p>
<p><div id='blocktype_<%= bt.id %>_allow_child_blocks'></div></p>
<p><div id='blocktype_<%= bt.id %>_render_function'></div></p>
<p><div id='blocktype_<%= bt.id %>_options_function'></div></p>

<h2>Children</h2>
<p><a href='/admin/block-types/<%= @block_type.id %>/new' class="caboose-btn-white">New Child Block</a></p>
<% if @block_type.children.count > 0 %>
  <table class='data' style="width:96%;">
    <tr>
      <th>Short Name</th>
      <th>Long Name</th>
      <th>Field Type</th>      
    </tr>
  <% bt.children.each do |bt2| %>
    <tr onclick="window.location='/admin/block-types/<%= bt2.id %>/edit';">
      <td><%= bt2.name        %></td>
      <td><%= bt2.description %></td>
      <td><%= bt2.field_type  %></td>    
    </tr>
  <% end %>
  </table><br />
<% else %>
  <p>This type of page block doesn't have any fields.</p>
<% end %>

<div id='message'></div>
<p>
<input type='button' class="caboose-btn" value='Back' onclick="window.location='/admin/block-types<%= bt.parent_id && bt.parent_id > 0 ? "/#{bt.parent_id}/edit" : '' %>';" />
<input type='button' class="caboose-btn" value='Delete Block Type' onclick="delete_block_type(<%= @block_type.id %>);" />
</p>

<% content_for :caboose_css do %>
<style type='text/css'>
#blocktype_<%= bt.id %>_render_function  { font-family: Courier; font-size: 14px; width: 100%; padding-top: 40px;}
#blocktype_<%= bt.id %>_options_function { font-family: Courier; font-size: 14px; width: 100%; padding-top: 40px;}
</style>
<% end %>
<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

function delete_block_type(block_type_id, confirm)
{
  if (!confirm)
  {
    var p = $('<p/>').addClass('note warning')
      .append('Are you sure you want to delete the block type? ')
      .append($('<input/>').attr('type', 'button').val('Yes').click(function() { delete_block_type(block_type_id, true); })).append(" ")
      .append($('<input/>').attr('type', 'button').val('No' ).click(function() { $('#message').empty(); }));
    $('#message').empty().append(p);
    return;
  }
  $('#message').empty().append($('<p/>').addClass('loading').html('Deleting block type...'));
  $.ajax({
    url: '/admin/block-types/' + block_type_id,
    type: 'delete',
    success: function(resp) {
      if (resp.error) $('#message').empty().append($('<p/>').addClass('note error').html(resp.error));
      if (resp.redirect) window.location = resp.redirect;
    }
  });
}

$(document).ready(function() {
  m = new ModelBinder({
    name: 'BlockType',
    id: <%= @block_type.id %>,
    update_url: '/admin/block-types/<%= @block_type.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'parent_id'                      , nice_name: 'Parent'                         , type: 'select'   , value: <%= raw Caboose.json(bt.parent_id)                       %>, width: 400, options_url: '/admin/block-types/tree-options' },
      { name: 'name'                           , nice_name: 'Name'                           , type: 'text'     , value: <%= raw Caboose.json(bt.name)                            %>, width: 400 },
      { name: 'description'                    , nice_name: 'Description'                    , type: 'text'     , value: <%= raw Caboose.json(bt.description)                     %>, width: 400 },
      { name: 'block_type_category_id'         , nice_name: 'Category'                       , type: 'select'   , value: <%= raw Caboose.json(bt.block_type_category_id)          %>, width: 400, options_url: '/admin/block-type-categories/tree-options' },
      { name: 'use_render_function'            , nice_name: 'Use Render Function'            , type: 'checkbox' , value: <%= bt.use_render_function            ? 'true' : 'false' %>, width: 400 },
      { name: 'use_render_function_for_layout' , nice_name: 'Use Render Function for Layout' , type: 'checkbox' , value: <%= bt.use_render_function_for_layout ? 'true' : 'false' %>, width: 400 },
      { name: 'allow_child_blocks'             , nice_name: 'Allow Child Blocks'             , type: 'checkbox' , value: <%= bt.allow_child_blocks             ? 'true' : 'false' %>, width: 400 },
      { name: 'render_function'                , nice_name: 'Render Function'                , type: 'textarea' , value: <%= raw Caboose.json(bt.render_function)                 %>, width: 800, height: 200 },      
      { name: 'field_type'                     , nice_name: 'Field type'                     , type: 'select'   , value: <%= raw Caboose.json(bt.field_type)                      %>, text: <%= raw Caboose.json(bt.field_type) %>, width: 400, options_url: '/admin/block-types/field-type-options' },
      { name: 'default'                        , nice_name: 'Default value'                  , type: 'text'     , value: <%= raw Caboose.json(bt.default)                         %>, width: 400 },
      { name: 'width'                          , nice_name: 'Width'                          , type: 'text'     , value: <%= raw Caboose.json(bt.width)                           %>, width: 400 },
      { name: 'height'                         , nice_name: 'Height'                         , type: 'text'     , value: <%= raw Caboose.json(bt.height)                          %>, width: 400 },
      { name: 'fixed_placeholder'              , nice_name: 'Fixed placeholder'              , type: 'checkbox' , value: <%= raw Caboose.json(bt.fixed_placeholder)               %>, width: 400 },
      { name: 'options_url'                    , nice_name: 'Options URL'                    , type: 'text'     , value: <%= raw Caboose.json(bt.options_url)                     %>, width: 400 },
      { name: 'options_function'               , nice_name: 'Options Function'               , type: 'textarea' , value: <%= raw Caboose.json(bt.options_function)                %>, width: 400, height: 100 },
      { name: 'options'                        , nice_name: 'Options'                        , type: 'textarea' , value: <%= raw Caboose.json(bt.options)                         %>, width: 400, height: 100 }      
    ]
  });
});

</script>
<% end %>
