
<div id='caboose-admin-header'>
  <div class='caboose-logo'></div>
  <ul>
    <li class='caboose-back-btn'>
      <a href='/' class="caboose-btn">Back to Site</a>
    </li>
    <li class='caboose-cpanel-btn'>
      <a href='/station' id='caboose_station' class='caboose_modal caboose-btn'>Menu</a>
    </li>
  </ul>
  <div class="caboose-nav-options">
    <div class="caboose-nav-buttons">
      <div class="caboose-nav-unit">
        <a href="#" id="close_caboose_menu">
          <img src="/assets/caboose/preview-icon.png" alt="Preview">
          <p>Preview</p>
        </a>
      </div>
      <div class="caboose-nav-unit">
        <a href="#" id="close_caboose_menu">
          <img src="/assets/caboose/preview-icon.png" alt="Preview">
          <p>Account</p>
        </a>
      </div>
      <div class="caboose-nav-unit">
        <a href="/admin/pages/<%= @page.id %>/edit">
          <img src="/assets/caboose/settings-icon.png" alt="Settings">
          <p>Settings</p>
        </a>
      </div>
      <div class="caboose-nav-unit">
        <a href="#">
          <img src="/assets/caboose/help-icon.png" alt="Help">
          <p>Logout</p>
        </a>
      </div>
    </div>
  </div>
</div>


<div id="caboose-admin-left-sidebar">
  <div class="caboose-sidebar-profile">
    <h2>All Aboard, Robby!</h2>
  </div>
  <ul id='caboose-sidebar-tabs'>
    <%
    tabs = {
      # '<div class="caboose-tab-icon" id="caboose-icon-general"></div>General'         => "/admin/pages/#{@page.id}/edit",
      # '<div class="caboose-tab-icon" id="caboose-icon-permissions"></div>Permissions'     => "/admin/pages/#{@page.id}/permissions",
      # '<div class="caboose-tab-icon" id="caboose-icon-contenticon"></div>Content'         => "/admin/pages/#{@page.id}/content",     
      # '<div class="caboose-tab-icon" id="caboose-icon-css"></div>Custom CSS'      => "/admin/pages/#{@page.id}/css"
      "<div class='caboose-tab-icon' id='caboose-icon-pages'></div>Manage Pages" => "/admin/pages", 
      "<div class='caboose-tab-icon' id='caboose-icon-write'></div>Write Posts" => "/admin/posts", 
    # "<div class='caboose-tab-icon' id='caboose-icon-design'></div>Design" => "/admin/design", 
    #  "<div class='caboose-tab-icon' id='caboose-icon-media'></div>Media" => "/admin/media", 
    #  "<div class='caboose-tab-icon' id='caboose-icon-activity'></div>Activity" => "/admin/media", 
      "<div class='caboose-tab-icon' id='caboose-icon-seo'></div>SEO" => "/admin/pages/#{@page.id}/seo", 
    #  "<div class='caboose-tab-icon' id='caboose-icon-store'></div>Caboose Store" => "/admin/media", 
      "<div class='caboose-tab-icon' id='caboose-icon-settings'></div>Settings" => "/admin/pages/#{@page.id}/edit"
    }
    %>
    <% tabs.each do |text, href| %>
      <li<%= raw request.fullpath == href ? " class='caboose-li-selected'" : '' %>>
        <a href='<%= href %>'><%= raw text %></a>
      </li>
    <% end %>
  </ul>
  <a href="#" id="show_pages_button" style="display:none;">Show Pages -></a>
<!--   <a href="/admin/pages" class="caboose-btn-white" style="margin-top:10px;">Back</a> -->
<!--   <a href="#" id="close_caboose_menu" class="caboose-btn-white" style="margin-top:10px;">Close Menu</a> -->
  <div class="caboose-sidebar-nine">
    <span>Powered by</span>
    <a href="http://www.nine.is" target="_blank"><img src="/assets/caboose/nine_logo.png" alt="The Nine"></a>
  </div>
</div>

<div id="caboose-content-wrap">
  <div class="caboose-admin-page-list">
    <%= raw pages_list(@home_page) %>
    <a href="#" id="close_pages_button"><- Close</a>
  </div>
</div>