<% content_for :caboose_css do %>
<style type='text/css'>

p.uri {
  background: #efefef;
  border: #999 1px solid;
  padding: 8px 10px;
  position: absolute;
  top: -45px;
  left: 0;
  height: 36px;
  margin: 0;
  font-size: 14px;
}

</style>
<% end %>
<% content_for :caboose_js do %>
<%
#javascript_include_tag "caboose/model/all" 
%>
<%= javascript_include_tag "caboose/model/class" %>
<%= javascript_include_tag "caboose/model/model" %>
<%= javascript_include_tag "caboose/model/attribute" %>
<%= javascript_include_tag "caboose/model/model_binder" %>
<%= javascript_include_tag "caboose/model/bound_control" %>
<%= javascript_include_tag "caboose/model/bound_checkbox" %>
<%= javascript_include_tag "caboose/model/bound_checkbox_multiple" %>
<%= javascript_include_tag "caboose/model/bound_image" %>
<%= javascript_include_tag "caboose/model/bound_select" %>
<%= javascript_include_tag "caboose/model/bound_text" %>
<%= javascript_include_tag "caboose/model/bound_textarea" %>
<%= javascript_include_tag "caboose/model/bound_richtext" %>
<% end %>

<h1 id='page_title'>Edit Page</h1>
<ul id='tabs'>
<%
tabs = {
  'General'         => "/admin/pages/#{@page.id}",
  'Permissions'     => "/admin/pages/#{@page.id}/permissions",
  'Content'         => "/admin/pages/#{@page.id}/content",     
  'Custom CSS'      => "/admin/pages/#{@page.id}/css", 
  'Custom JS'       => "/admin/pages/#{@page.id}/js", 
  'SEO'             => "/admin/pages/#{@page.id}/seo",
  'Layout'          => "/admin/pages/#{@page.id}/layout", 
 # 'Sitemap'         => "/admin/pages/#{@page.id}/sitemap",
  'Duplicate Page'  => "/admin/pages/#{@page.id}/duplicate",
  'Delete Page'     => "/admin/pages/#{@page.id}/delete" 
}

%>
<% tabs.each do |text, href| %>
<li<%= raw request.fullpath == href ? " class='selected'" : '' %>><a href='<%= href %>'><%= raw text %></a></li>
<% end %>
<li class='back'><input type='button' value='< Back' onclick="window.location='/admin/pages';" /></li>
</ul>
<div id='content2'>
