
<%= render :partial => 'caboose/pages/admin_header' %>

<h2>Custom CSS URLs</h2>
<p>One URL per line</p>
<p><div id='page_<%= @page.id %>_custom_css_files'></div></p>
<h2>Custom CSS</h2>
<p><div id='page_<%= @page.id %>_custom_css'></div></p>

<%= render :partial => 'caboose/pages/admin_footer' %>

<% content_for :caboose_css do %>
<style>
  textarea {
    font-family: monospace;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 15px !important;
  }
</style>
<% end %>
<% content_for :caboose_js do %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});

$(document).ready(function() {
  m = new ModelBinder({
    name: 'Page',
    id: <%= @page.id %>,
    update_url: '/admin/pages/<%= @page.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'custom_css_files' , nice_name: 'Custom CSS URLs' , type: 'textarea', value: <%= raw Caboose.json(@page.custom_css_files ) %>, width: 800, height: 200, fixed_placeholder: false },
      { name: 'custom_css'       , nice_name: 'Custom CSS'      , type: 'textarea', value: <%= raw Caboose.json(@page.custom_css       ) %>, width: 800, height: 400, fixed_placeholder: false }             
    ]
  });
});

</script>
<% end %>