
<%= render :partial => 'caboose/pages/admin_header' %>

<p>URI: /<span id='uri'><%= @page.uri %></span></p>
<p><div id='page_<%= @page.id %>_title'                 ></div></p>
<p><div id='page_<%= @page.id %>_menu_title'            ></div></p>
<p><div id='page_<%= @page.id %>_parent_id'             ></div></p>     
<p><div id='page_<%= @page.id %>_slug'                  ></div></p>                              
<p><div id='page_<%= @page.id %>_alias'                 ></div></p> 
<p><div id='page_<%= @page.id %>_redirect_url'          ></div></p>
<p><div id='page_<%= @page.id %>_hide'                  ></div></p>  
<p><div id='page_<%= @page.id %>_layout'                ></div></p>
<p><div id='page_<%= @page.id %>_custom_sort_children'  ></div></p>
<p><div id='page_<%= @page.id %>_content_format'        ></div></p>

<%= render :partial => 'caboose/pages/admin_footer' %>
<% content_for :caboose_js do %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});

$(document).ready(function() {
  m = new ModelBinder({
    name: 'Page',
    id: <%= @page.id %>,
    update_url: '/admin/pages/<%= @page.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'title'                 , nice_name: 'Title'                , type: 'text'       , value: <%= raw Caboose.json(@page.title        ) %> , width: 400 },
      { name: 'menu_title'            , nice_name: 'Menu title'           , type: 'text'       , value: <%= raw Caboose.json(@page.menu_title   ) %> , width: 400 },
      { name: 'parent_id'             , nice_name: 'Parent'               , type: 'select'     , value: <%= @page.parent_id %>                       , width: 400, after_update: function() { update_uri(<%= @page.id %>); }, text: <%= raw (@page.parent_id == -1 ? "[No Parent]" : @page.parent.title).to_json %>, options_url: '/admin/pages/sitemap-options' },           
      { name: 'slug'                  , nice_name: 'Slug'                 , type: 'text'       , value: <%= raw Caboose.json(@page.slug         ) %> , width: 400, after_update: function() { update_uri(<%= @page.id %>); } }, 
      { name: 'alias'                 , nice_name: 'Alias'                , type: 'text'       , value: <%= raw Caboose.json(@page.alias        ) %> , width: 400, after_update: function() { update_uri(<%= @page.id %>); } }, 
      { name: 'redirect_url'          , nice_name: 'Redirect URL'         , type: 'text'       , value: <%= raw Caboose.json(@page.redirect_url ) %> , width: 400 },
      { name: 'hide'                  , nice_name: 'Hide'                 , type: 'checkbox'   , value: <%= raw @page.hide %>                        , width: 400 },
      { name: 'layout'                , nice_name: 'Layout'               , type: 'text'       , value: <%= raw Caboose.json(@page.layout       ) %> , width: 400 },
      { name: 'custom_sort_children'  , nice_name: 'Custom sort children' , type: 'checkbox'   , value: <%= raw @page.custom_sort_children %>        , width: 400 },
      { name: 'content_format'        , nice_name: 'Content format'       , type: 'select'     , value: <%= raw Caboose.json(@page.content_format) %>, width: 400, text: <%= raw Caboose.json(@page.content_format) %>, options_url: '/pages/format-options' },       
    ]
  });
});

function update_uri(page_id)
{
  $.ajax({
    url: '/admin/pages/' + page_id + '/uri',
    success: function(resp) { $('#uri').html(resp.uri); }
  });
}

</script>
<% end %>
