
<%= render :partial => 'caboose/pages/admin_header' %>

<p class='uri'>URI: /<span id='uri'><%= @page.uri %></span></p>

<table class='data' id='viewers'>
<tr><th>Role</th><th>View</th><th>Edit</th></tr>
<% Caboose::Role.flat_tree(@site.id, ' - ').each do |r| %>
  <% next if r.id == 1 %>
  <% may_view = Caboose::PagePermission.where(:role_id => r.id, :page_id => @page.id, :action => 'view').exists? %>
  <% may_edit = Caboose::PagePermission.where(:role_id => r.id, :page_id => @page.id, :action => 'edit').exists? %>
  <tr>
    <td><label for='role_<%= r.id %>'><%= r.name %></td>
    <td><input type='checkbox' id='role_<%= r.id %>' value='<%= r.id %>' <%= may_view ? "checked='true'" : '' %> onchange="toggle_page_permission(<%= r.id %>, $(this).prop('checked'), 'view');" /></td>
    <td><input type='checkbox' id='role_<%= r.id %>' value='<%= r.id %>' <%= may_edit ? "checked='true'" : '' %> onchange="toggle_page_permission(<%= r.id %>, $(this).prop('checked'), 'edit');" /></td>
  </tr>
<% end %>
</table>

<div id='message'></div>
<p><input type='button' value='Copy Permissions to Child Pages' onclick='update_child_permissions(<%= @page.id %>);' /></p>
  
<%= render :partial => 'caboose/pages/admin_footer' %>

<% content_for :caboose_css do %>
<style type='text/css'>
#viewers input[type=checkbox] { position: relative; }
#editors input[type=checkbox] { position: relative; }
</style>
<% end %>
<% content_for :caboose_js do %>
<script type='text/javascript'>

function toggle_page_permission(role_id, checked, action)
{              
  $.ajax({
    url: '/admin/page-permissions',
    type: checked ? 'post' : 'delete',
    data: { 
      page_id: <%= @page.id %>, 
      role_id: role_id, 
      action2: action 
    },
    success: function(resp) {}
  });
}

function update_child_permissions(page_id, confirm)
{
  if (!confirm)
  {
    var p = $('<p/>').addClass('note warning')
      .append("Are you sure you want to copy the permissions to child pages?<br /><br />")
      .append($('<input/>').attr('type', 'button').val('Yes').click(function(e) { update_child_permissions(page_id, true); })).append(' ')
      .append($('<input/>').attr('type', 'button').val('No').click(function(e) { $('#message').empty(); }));
    $('#message').empty().append(p);
    return;
  }
  $('#message').empty().append("<p class='loading'>Setting child permissions...</p>");
  $.ajax({
    url: '/admin/pages/' + page_id + '/update-child-permissions',
    type: 'put',    
    success: function(resp) {
      if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.success) $('#message').html("<p class='note success'>The permissions have been set successfully.</p>");    
    }
  });
}

</script>
<% end %>
