
<%= render :partial => 'caboose/pages/admin_header' %>
 
<% @page.blocks.each do |b| %>
  <div id='pageblock_<%= b.id %>'></div>    
<% end %>

<%= render :partial => 'caboose/pages/admin_footer' %>

<% content_for :caboose_css do %>
<%= stylesheet_link_tag 'caboose/admin_page_edit_content', :media => 'all' %>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'caboose/admin_page_edit_content' %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});

$(document).ready(function() {
  var ed = new PageContentEditor(<%= @page.id %>);  
});

</script>
<%= tinymce_assets %>
<%= tinymce :caboose, width: '800px', height:'300px' %>
<% end %>
