
<%= render :partial => 'caboose/pages/admin_header' %>

<p><div id='page_<%= @page.id %>_content'></div></p>

<%= render :partial => 'caboose/pages/admin_footer' %>
<% content_for :caboose_js do %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});

$(document).ready(function() {
  m = new ModelBinder({
    name: 'Page',
    id: <%= @page.id %>,
    update_url: '/admin/pages/<%= @page.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'content', nice_name: 'Page Content', type: 'richtext', value: <%= raw Caboose.json(@page.content) %>, width: 800, height: 500 }             
    ]
  });
});

</script>
<%= tinymce_assets %>
<%= tinymce :caboose, width: '800px', height:'400px' %>
<% end %>
