
<%= render :partial => 'caboose/pages/admin_header' %>

<p><div id='page_<%= @page.id %>_custom_js'></div></p>

<%= render :partial => 'caboose/pages/admin_footer' %>
<% content_for :caboose_js do %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});

$(document).ready(function() {
  m = new ModelBinder({
    name: 'Page',
    id: <%= @page.id %>,
    update_url: '/admin/pages/<%= @page.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'custom_js', nice_name: 'Custom Javascript', type: 'textarea', value: <%= raw Caboose.json(@page.custom_js) %>, width: 800, height: 400 }             
    ]
  });
});

</script>
<% end %>
