
<%= render :partial => 'caboose/pages/admin_header' %>

<p class='uri'>URI: /<span id='uri'><%= @page.uri %></span></p>
<div class='field_with_explanation'><div id='page_<%= @page.id %>_title'                 ></div><span class='explanation'>The title of the page.</span></div>
<div class='field_with_explanation'><div id='page_<%= @page.id %>_menu_title'            ></div><span class='explanation'>The menu title is an abbreviated form of the title that is used in navigation menus and crumb trails.</span></div>
<div class='field_with_explanation'><div id='page_<%= @page.id %>_parent_id'             ></div><span class='explanation'>This page's parent page.</span></div>
<div class='field_with_explanation'><div id='page_<%= @page.id %>_slug'                  ></div><span class='explanation'>The portion of the URL that this page represents.</span></div>
<div class='field_with_explanation'><div id='page_<%= @page.id %>_alias'                 ></div><span class='explanation'>Starts the URL over at the domain root.</span></div>
<div class='field_with_explanation'><div id='page_<%= @page.id %>_redirect_url'          ></div><span class='explanation'>If the redirect URL field is set, then this page will simply redirect to that URL instead of showing the page itself.</span></div>
<div class='field_with_explanation'><div id='page_<%= @page.id %>_hide'                  ></div><span class='explanation'>Whether or not this page is displayed in the menu.</span></div>
<div class='field_with_explanation'><div id='page_<%= @page.id %>_layout'                ></div><span class='explanation'>Specify a specific layout file for this page.</span></div>
<div class='field_with_explanation'><div id='page_<%= @page.id %>_custom_sort_children'  ></div><span class='explanation'>Sort child pages alphabetically or custom.</span></div>
<div class='field_with_explanation'><div id='page_<%= @page.id %>_content_format'        ></div><span class='explanation'>Specify whether or not you want to embed ruby code in your page.</span></div>

<%= render :partial => 'caboose/pages/admin_footer' %>

<% content_for :caboose_css do %>
<style type='text/css'>

p.uri {
  background: #efefef;
  border: #999 1px solid;
  padding: 10px;
  position: absolute;
  top: 67px;
  left: 0;
  height: 16px;
}

div.field_with_explanation {
  width: 420px;
  background: #efefef;
  margin-bottom: 12px;
}

span.explanation {
  display: block;
  padding: 8px;    
}

</style>
<% end %>
<% content_for :caboose_js do %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});

$(document).ready(function() {
  m = new ModelBinder({
    name: 'Page',
    id: <%= @page.id %>,
    update_url: '/admin/pages/<%= @page.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'title'                 , nice_name: 'Title'                , type: 'text'       , value: <%= raw Caboose.json(@page.title        ) %> , width: 400 },
      { name: 'menu_title'            , nice_name: 'Menu title'           , type: 'text'       , value: <%= raw Caboose.json(@page.menu_title   ) %> , width: 400 },
      { name: 'parent_id'             , nice_name: 'Parent'               , type: 'select'     , value: <%= @page.parent_id %>                       , width: 400, after_update: function() { update_uri(<%= @page.id %>); }, text: <%= raw (@page.parent_id == -1 ? "[No Parent]" : @page.parent.title).to_json %>, options_url: '/admin/pages/sitemap-options' },           
      { name: 'slug'                  , nice_name: 'Slug'                 , type: 'text'       , value: <%= raw Caboose.json(@page.slug         ) %> , width: 400, after_update: function() { update_uri(<%= @page.id %>); } }, 
      { name: 'alias'                 , nice_name: 'Alias'                , type: 'text'       , value: <%= raw Caboose.json(@page.alias        ) %> , width: 400, after_update: function() { update_uri(<%= @page.id %>); } }, 
      { name: 'redirect_url'          , nice_name: 'Redirect URL'         , type: 'text'       , value: <%= raw Caboose.json(@page.redirect_url ) %> , width: 400 },
      { name: 'hide'                  , nice_name: 'Hide'                 , type: 'checkbox'   , value: <%= raw @page.hide %>                        , width: 400 },
      { name: 'layout'                , nice_name: 'Layout'               , type: 'text'       , value: <%= raw Caboose.json(@page.layout       ) %> , width: 400 },
      { name: 'custom_sort_children'  , nice_name: 'Custom sort children' , type: 'checkbox'   , value: <%= raw @page.custom_sort_children %>        , width: 400 },
      { name: 'content_format'        , nice_name: 'Content format'       , type: 'select'     , value: <%= raw Caboose.json(@page.content_format) %>, width: 400, text: <%= raw Caboose.json(@page.content_format) %>, options_url: '/pages/format-options' },       
    ]
  });
});

function update_uri(page_id)
{
  $.ajax({
    url: '/admin/pages/' + page_id + '/uri',
    success: function(resp) { $('#uri').html(resp.uri); }
  });
}

</script>
<% end %>
