
<h1>Edit Page Content</h1>
<p class='current_page_editing'>Currently editing: /<%= @page.uri %></p>

<div id='page_<%= @page.id %>_container'></div>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model.form.page" %>
<script type="text/javascript">

$(document).ready(function() {
  var page = new Model({
    name: 'Page',
    id: <%= @page.id %>,
    form: 'Model.Form.Page',
    attributes: [
      { name: 'title'                 , type: 'h1'                , value: <%= raw Caboose.json(@page.title   ) %>, width: '500px' },
      { name: 'content'               , type: 'rich-text'         , value: <%= raw Caboose.json(@page.content ) %> }
    ]
  });
});

</script>
<%= tinymce :caboose %>
<% end %>
