
<h1>Page Settings</h1>
<div class='top_right_controls'>
<input type='button' value='General' onclick="window.location='/pages/<%= @page.id %>/edit-settings';" />
<input type='button' value='CSS'     disabled='true' onclick="window.location='/pages/<%= @page.id %>/edit-css';" />
<input type='button' value='JS'      onclick="window.location='/pages/<%= @page.id %>/edit-js';" />
<input type='button' value='SEO'     onclick="window.location='/pages/<%= @page.id %>/edit-seo';" />
</div>
<p><div id='page_<%= @page.id %>_custom_css'></div></p>
                    
<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

var modal = false;
$(document).ready(function() {
  m = new ModelBinder({
    name: 'Page',
    id: <%= @page.id %>,
    update_url: '/pages/<%= @page.id %>',
    attributes: [
      {
        name: 'custom_css',
        nice_name: 'Custom CSS',
        type: 'textarea',
        width: 580,
        height: 400,
        value: <%= raw Caboose.json(@page.custom_css) %> 
      }      
    ]
  });  
  modal = new CabooseModal(600, 460);
});

</script>
<% end %>
