
<%= content_for :caboose_js do %>
<%= javascript_include_tag "caboose/login" %>
<% end %>

<%= content_for :caboose_css do %>
<%= stylesheet_link_tag "caboose/login", :media => "all" %>
<% end %>

<form action='/login' method='post' id='login_form'>
<p class='other_options'>
<a href='/register'>Need to register?</a>
</p>
<h1>Login</h1>
<input type='hidden'    name='return_url' value='<%= @return_url %>' />
<input type='text'      name='username' id='username' placeholder='Login or email' />
<input type='password'  name='password' id='password' placeholder='Password' />
<div id='message'></div>
<p>
  <input type='button' id='btn_cancel' value='Cancel' onclick="parent.$.fn.colorbox.close();" />
	<input type='submit' id='btn_login'  value='Login' onclick='login(); return false;' />
</p>
</form>

<% content_for :caboose_js do %>
<script type='text/javascript'>
if (parent.$.fn.colorbox)
  parent.$.fn.colorbox.resize({ 'innerWidth': 400, 'innerHeight': 200 });
</script>
<% end %>
