<h1>Orders</h1>

<style type='text/css'>
#search_form_wrapper { margin-bottom: 10px; position: absolute; top:0; right: 0; }
</style>

<p>
  <a href='#' onclick="$('#search_form').toggle(400, function() { modal.autosize(); });">Show/hide search form</a> | 
  <a href='/admin/orders/new'>New Manual Order</a> |
  <a href='/admin/orders/print-pending' target='_blank'>Print Pending Orders</a>
</p>
<form action='/admin/orders' method='get' id='search_form' style='display: none;'>
  <p><input type='text' name='id' placeholder='Order ID' value="<%= @pager.params['id'] %>" style='width: 100px;' /></p>
  <p><select name='customer_id'>
      <optgroup label='Status' style='width: 100px'>
        <option value=''>-- All customers --</option>        
        <% @customers.each do |c| %>
          <option value='<%= c.id %>'<%= @pager.params['customer_id'] == c.id ? " selected='true'" : '' %>><%= "#{c.last_name}, #{c.first_name}" %></option>
        <% end %>
      </optgroup>
    </select></p>
  <p><select name='status'>
      <optgroup label='Status'>
        <option value=''>-- All statuses --</option>
        <% statuses = ['cart', 'pending', 'ready to ship', 'shipped', 'canceled', 'backordered'] %>
        <% statuses.each do |status| %>
          <option value='<%= status %>'<%= @pager.params['status'] == status ? " selected='true'" : '' %>><%= status.capitalize %></option>
        <% end %>
      </optgroup>
    </select></p>
  <p><select name='shipping_method_code'>
      <optgroup label='Shipping Method'>
        <option value=''>-- All shipping methods --</option>
        <option value='03'<%= @pager.params['shipping_service_code'] == '02' ? " selected='true'" : '' %>>UPS Ground</option>
        <option value='02'<%= @pager.params['shipping_service_code'] == '02' ? " selected='true'" : '' %>>UPS 2nd Day</option>                
      </optgroup>
    </select></p>
  <p>
    <input type='submit' value='Search' />
    <input type='button' value='Clear' onclick="window.location='/admin/orders';" />
  </p>
</form>

<% if @orders.count > 0 %>
  <table class='data' id='orders_table'>
    <tr>
      <%= raw @pager.sortable_table_headings({
  				'id'              => 'ID',
  				'customer_id'     => 'Customer',
  				'date_created'    => 'Date Created',  				
  				'total'           => 'Total',
  				'status'          => 'Status',
  				'shipping_method' => 'Shipping Method'
  			})
  		%>
    </tr>
  <% @orders.each do |order| %>
    <tr onclick="window.location='/admin/orders/<%= order.id %>';">
      <td><%= raw order.id %></td>
      <td>
        <% if order.customer.nil? %>
          Unknown
        <% else %>
          <% if order.customer.first_name && order.customer.first_name.strip.length > 0 %>
            <%= order.customer.first_name %> <%= order.customer.last_name %>
          <% else %>
            <%= order.customer.email %>            
          <% end %>
        <% end %>
      </td>
      <td><%= raw order.date_created %></td>
      <td align='right'><%= number_to_currency(order.total) %></td>
      <td><%= raw order.status %></td>
      <td><%= raw order.shipping_carrier %> <%= raw order.shipping_service_name %></td>
    </tr>
  <% end %>
  </table>
  <p><%= raw @pager.generate %></p>
<% else %>
  <p>There are no orders right now.</p>
<% end %>

<% content_for :caboose_js do %>
<script type='text/javascript'>
var modal = false;
$(window).load(function() { 
  modal = new CabooseModal('95%');
});
</script>
<% end %>
