<h1>Images</h1>

<% if @site && @media_category %>
  <%
  arr = []
  cat = @media_category
  arr << cat
  while cat.parent_id
    cat = cat.parent
    arr << cat
  end
  crumb_trail = arr.collect{ |cat| "<a href='/admin/images?media_category_id=#{cat.id}'>#{cat.name}</a>" }.reverse.join(" > ")
  %>
  <p id='crumb_trail'><%= raw crumb_trail %></p>

  <form action='/admin/images/sign-s3' method='post' id='new_image_form' enctype='multipart/form-data'>
    <input type='hidden' name='key'                     value='' />
    <input type='hidden' name='AWSAccessKeyId'          value='' />
    <input type='hidden' name='acl'                     value='' />
    <input type='hidden' name='success_action_status'   value='' />    
    <input type='hidden' name='policy'                  value='' />
    <input type='hidden' name='signature'               value='' />    
    <input type="file" name="file" id="file" multiple='true' style='display: none;' />
    <p>
      <a href='#' id='new_cat_link'>New Category</a> |
      <a href='#' onclick="$('#file').click();">Upload Files</a>
    </p>    
    <div id='progress'><div id='bar'></div></div>  
  </form>  
  <div id='new_cat_message'></div>
  </p>
  <div id='media'></div>
<% elsif @site && @media_category.nil? %>
  <p>Invalid media category.</p>
<% else %>
  <p>It doesn't look like this site is configured for the current domain.  Please <a href='/admin/sites'>configure your sites</a>.</p>
<% end %>  

<% content_for :caboose_css do %>
<%= stylesheet_link_tag 'caboose/icomoon_fonts' %>
<%= stylesheet_link_tag 'caboose/admin_images_index' %>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'jquery.ui.widget' %>
<%= javascript_include_tag 'caboose/jquery.iframe-transport.js' %>
<%= javascript_include_tag 'caboose/jquery.fileupload.js' %>
<%= javascript_include_tag 'caboose/admin_images_index.js' %>
<script type='text/javascript'>

var controller = false;
$(document).ready(function() {
  controller = new ImagesController({
    cat_id: <%= @media_category.id %>
  });
});

</script>
<% end %>
