<%
captured = @order.financial_status == 'captured'
ba = @order.billing_address  
sa = @order.shipping_address
ba = nil if ba.first_name.nil? || ba.last_name.nil?
sa = nil if sa.first_name.nil? || sa.last_name.nil?
%>
<input type='hidden' name='order_id'    id='order_id'     value='<%= @order.id %>' />

<h1>Order #<%= @order.order_number %></h1>

<table class='order'>
<tr>
  <% if ba %><th>Billing Address</th><% end %>
  <% if sa %><th>Shipping Address</th><% end %>  
  <th>Order Status</th>
  <th>Payment Status</th>  
</tr>
<tr>
  <% if ba %><td valign='top'><%= raw ba.name_and_address %></td><% end %>
  <% if sa %><td valign='top'><%= raw sa.name_and_address %></td><% end %>    
  <td valign='top'><%= @order.status.capitalize %></td>    
  <td valign='top'><%= @order.financial_status.capitalize %></td>
</tr>
</table><br />

<table class='order' width='100%'>
<% @order.order_packages.all.each_with_index do |op, i| %>
  <tr><td colspan='5' class='package_header'>Package <%= (i+1) %>: <%= op.shipping_method.service_name %><br /><%= op.status %></td></tr>
  <tr>  
    <th>Item</th>
    <th>Status</th>    
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% op.line_items.each do |li| %>
    <% img = li.variant.product_image %>
    <tr>        
      <td>
        <% if img %><img src='<%= img.url(:tiny) %>' /><% end %>
        <% if li.variant.nil? || li.variant.product.nil? %>
          <% if li.variant.nil? %>Unknown variant<% else %><%= li.variant.sku %><% end %>
        <% else %>
          <a href='/products/<%= li.variant.product.id %>'><%= li.variant.product.title  %></a><br />
          <% if li.variant.sku && li.variant.sku.strip.length > 0 %><%= li.variant.sku %><br /><% end %>
          <%= li.variant.title %>
        <% end %>
      </td>      
      <td><%= li.status.capitalize %></td>      
      <td style='text-align: right;'><%= number_to_currency(li.unit_price) %></td>    
      <td style='text-align: right;'><%= li.quantity %></td>
      <td style='text-align: right;'><%= number_to_currency(li.subtotal) %></td>
    </tr>
  <% end %>
<% end %>
<% if @order.has_downloadable_items? %>
  <tr>  
    <th>Item</th>
    <th>Status</th>    
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
<% end %>
<% @order.line_items.each do |li| %>   
  <% next if li.order_package_id %>
  <% v = li.variant %>  
  <% if !v.downloadable %><tr><td colspan='5'>Unpackaged Items</td></tr><% end %>
  <% img = v.product_image %>  
  <tr>            
    <td>
      <% if img %><img src='<%= img.url(:tiny) %>' /><% end %>
      <% if v.nil? || v.product.nil? %>
        <% if v.nil? %>Unknown variant<% else %><%= v.sku %><% end %>
      <% else %>
        <p><a href='/admin/products/<%= v.product.id %>'><%= v.product.title  %></a><br />
        <% if v.sku && v.sku.strip.length > 0 %><%= v.sku %><br /><% end %>
        <%= v.title %></p>
      <% end %>
      <% if v.downloadable %>
        <% sc = @order.site.store_config %>        
        <p><a href='<%= raw sc.pp_relay_domain %>/my-account/orders/<%= @order.id %>/line-items/<%= li.id %>/download' target="_blank">Download</a></p>
      <% end %>
    </td>    
    <td><%= li.status.capitalize %></td>    
    <td style='text-align: right;'><%= number_to_currency(li.unit_price) %></td>    
    <td style='text-align: right;'><%= li.quantity %></td>
    <td style='text-align: right;'><%= number_to_currency(li.subtotal) %></td>
  </tr>
<% end %>
<tr><td colspan='5' class='totals_header'>Totals</td></tr>
<tr><td colspan='4' align='right'>Subtotal                </td><td style='text-align: right;'><%= number_to_currency(@order.subtotal ) %></td></tr>
<tr><td colspan='4' align='right'>Tax                     </td><td style='text-align: right;'><%= number_to_currency(@order.tax      ) %></td></tr>
<tr><td colspan='4' align='right'>Shipping &amp; Handling </td><td style='text-align: right;'><%= number_to_currency(@order.shipping + @order.handling) %></td></tr>
<tr><td colspan='4' align='right'>Discount                </td><td style='text-align: right;'><%= number_to_currency(@order.discount ) %></td></tr>  
<tr><td colspan='4' align='right'>Total                   </td><td style='text-align: right;'><%= number_to_currency(@order.total    ) %></td></tr>
</table>
<div id='message'></div>

<p>
<input type='button' value='< Back' class='btn' onclick="window.location='/my-account/orders';" />
</p>

<% content_for :caboose_css do %>
<style type='text/css'>

table.order { border-collapse: collapse; margin-bottom: 20px; }
table.order th { margin: 0; padding: 10px; border: #000 0px solid; font-weight: bold; text-align: center; }
table.order td { margin: 0; padding: 10px; border: #000 1px solid; }
table.order td img { float: left; margin-right: 10px; }
table.order td.package_header { font-weight: bold; text-align: center; border: 0; }
table.order td.totals_header { font-weight: bold; text-align: center; border: 0; }

p { margin-bottom: 10px; }

</style>
<% end %>

<% content_for :caboose_js do %>
<script type='text/javascript'>

</script>
<% end %>
