<h1>Media</h1>

<div id='left_content'>
  <div id='categories'></div>
  <div id='controls'></div>
</div>
<div id='right_content'>
  <div id='uploader'></div>
  <div id='media'></div>
</div>

<% content_for :caboose_css do %>
<%= stylesheet_link_tag 'caboose/admin_media_index' %>
<%= stylesheet_link_tag 'plupload/jquery.ui.plupload/css/jquery.ui.plupload.css' %>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'caboose/model/all' %>
<%= javascript_include_tag 'caboose/admin_media_index.js' %>
<%= javascript_include_tag 'caboose/jquery-ui.drag-multiple.min.js' %>

<!-- production -->
<%= javascript_include_tag 'plupload/plupload.full.min.js' %>
<%= javascript_include_tag 'plupload/jquery.ui.plupload/jquery.ui.plupload.js' %>
                
<!-- debug 
<script type="text/javascript" src="/assets/plupload/moxie.js"></script>
<script type="text/javascript" src="/assets/plupload/plupload.dev.js"></script>
<script type="text/javascript" src="/assets/plupload/jquery.ui.plupload/jquery.ui.plupload.js"></script>
-->

<script type="text/javascript">

var controller = false;
$(document).ready(function() {
  controller = new MediaController({
    top_cat_id: <%= raw Caboose.json(@media_category ? @top_media_category.id : false) %>,
    cat_id: <%= raw Caboose.json(@media_category ? @media_category.id : false) %>,
    s3_upload_url: '<%= raw @s3_upload_url %>',		      		  	
	  aws_access_key_id: '<%= raw @aws_access_key_id %>',		
	  policy: '<%= raw @policy %>',
	  signature: '<%= raw @signature %>',
	  refresh_unprocessed_images: false
  });	
});

</script>
<% end %>
