<%
ft = @field_type
%>

<h1>Edit Page Block Field</h1>
<div id='fieldtype_<%= ft.id %>_name'></div>
<div id='fieldtype_<%= ft.id %>_nice_name'></div>
<div id='fieldtype_<%= ft.id %>_field_type'></div>
<div id='fieldtype_<%= ft.id %>_default'></div>
<div id='fieldtype_<%= ft.id %>_width'></div>
<div id='fieldtype_<%= ft.id %>_height'></div>
<div id='fieldtype_<%= ft.id %>_fixed_placeholder'></div>
<div id='fieldtype_<%= ft.id %>_options_url'></div>
<div id='fieldtype_<%= ft.id %>_options_function'></div>
<div id='fieldtype_<%= ft.id %>_options'></div>
<br />

<div id='message'></div>
<p>
<input type='button' value='< Back' onclick="window.location='/admin/block-types/<%= ft.block_type_id %>/edit';" />
<input type='button' value='Delete Field' onclick="delete_field_type(<%= ft.id %>);" />
</p>

<% content_for :caboose_css do %>
<style type='text/css'>
#fieldtype_<%= ft.id %>_options_function { font-family: Courier; font-size: 80%; }
</style>
<% end %>
<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

function delete_field_type(field_type_id, confirm)
{
  if (!confirm)
  {
    var p = $('<p/>').addClass('note warning')
      .append('Are you sure you want to delete the field? ')
      .append($('<input/>').attr('type', 'button').val('Yes').click(function() { delete_field_type(field_type_id, true); })).append(" ")
      .append($('<input/>').attr('type', 'button').val('No' ).click(function() { $('#message').empty(); }));
    $('#message').empty().append(p);
    return;
  }
  $('#message').empty().append($('<p/>').addClass('loading').html('Deleting field...'));
  $.ajax({
    url: '/admin/block-types/<%= ft.block_type_id %>/field-types/' + field_type_id,
    type: 'delete',
    success: function(resp) {
      if (resp.error) $('#message').empty().append($('<p/>').addClass('note error').html(resp.error));
      if (resp.redirect) window.location = resp.redirect;
    }
  });
}

$(document).ready(function() {
  m = new ModelBinder({
    name: 'FieldType',
    id: <%= ft.id %>,
    update_url: '/admin/block-types/<%= ft.block_type.id %>/field-types/<%= ft.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'name'                , nice_name: 'Short name'         , type: 'text'     , value: <%= raw Caboose.json(ft.name)              %>, width: 400 },
      { name: 'nice_name'           , nice_name: 'Long name'          , type: 'text'     , value: <%= raw Caboose.json(ft.nice_name)         %>, width: 400 },
      { name: 'field_type'          , nice_name: 'Field type'         , type: 'select'   , value: <%= raw Caboose.json(ft.field_type)        %>, text: <%= raw Caboose.json(ft.field_type) %>, width: 400, options_url: '/admin/field-types/field-type-options' },
      { name: 'default'             , nice_name: 'Default value'      , type: 'text'     , value: <%= raw Caboose.json(ft.default)           %>, width: 400 },
      { name: 'width'               , nice_name: 'Width'              , type: 'text'     , value: <%= raw Caboose.json(ft.width)             %>, width: 400 },
      { name: 'height'              , nice_name: 'Height'             , type: 'text'     , value: <%= raw Caboose.json(ft.height)            %>, width: 400 },
      { name: 'fixed_placeholder'   , nice_name: 'Fixed placeholder'  , type: 'checkbox' , value: <%= raw Caboose.json(ft.fixed_placeholder) %>, width: 400 },
      { name: 'options_url'         , nice_name: 'Options URL'        , type: 'text'     , value: <%= raw Caboose.json(ft.options_url)       %>, width: 400 },
      { name: 'options_function'    , nice_name: 'Options Function'   , type: 'textarea' , value: <%= raw Caboose.json(ft.options_function)  %>, width: 400, height: 100 },
      { name: 'options'             , nice_name: 'Options'            , type: 'textarea' , value: <%= raw Caboose.json(ft.options)           %>, width: 400, height: 100 }                         
    ]
  });
});

</script>
<% end %>
