
<%= render :partial => 'caboose/users/admin_header' %>

<p><div id='subscription_<%= @subscription.id %>_variant_id'         ></div></p>
<p><div id='subscription_<%= @subscription.id %>_date_started'       ></div></p>
<p><div id='subscription_<%= @subscription.id %>_date_started_full'  ></div></p>
<p><div id='subscription_<%= @subscription.id %>_status'             ></div></p>

<div id='message'></div>
<p>
<input type='button' value='Create Invoices for this Subscription' onclick="create_subscription_invoices(<%= @subscription.id %>);" />

<%= render :partial => 'caboose/users/admin_footer' %>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

$(document).ready(function() {
  new ModelBinder({
    name: 'Subscription',
    id: <%= @subscription.id %>,
    update_url: '/admin/users/<%= @edituser.id %>/subscriptions/<%= @subscription.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [      
      { name: 'variant_id'         , nice_name: 'Variant'           , type: 'select' , value: <%= raw Caboose.json(@subscription.variant_id        ) %>, width: 400 , options_url: '/admin/subscriptions/subscription-options' },        
      { name: 'date_started'       , nice_name: 'Date Started'      , type: 'date'   , value: <%= raw Caboose.json(@subscription.date_started      ) %>, width: 400 , date_format: 'Y-m-d' },
      { name: 'date_started_full'  , nice_name: 'Date Started Full' , type: 'date'   , value: <%= raw Caboose.json(@subscription.date_started_full ) %>, width: 400 , date_format: 'Y-m-d' },
      { name: 'status'             , nice_name: 'Status'            , type: 'select' , value: <%= raw Caboose.json(@subscription.status            ) %>, width: 400 , options_url: '/admin/subscriptions/status-options' }
    ]                                                                           
  });
});

function create_subscription_invoices(subscription_id)
{
  $.ajax({
    url: "/admin/users/<%= @edituser.id %>/subscriptions/" + subscription_id + "/invoices",
    type: 'post',
    success: function(resp) {
      if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.success) $('#message').html("<p class='note success'>Invoices have been created successfully.</p>");            
    }      
  });  
}

</script>
<% end %>
