
<h1>Editing Role</h1>

<p><input type='button' value='< Back' onclick="window.location='/admin/roles';" /></p>

<div id="role_<%= @role.id %>_name"></div>
<div id="role_<%= @role.id %>_parent_id"></div>
<div id="role_<%= @role.id %>_description"></div>

<h3>Members</h3>
<% users = Caboose::User.where(:site_id => @site.id).reorder("last_name, first_name").all %>
<% if users && users.count > 0 %>
  <div id='members'>
    <table class='data'>
      <% users.each do |u| %>
        <% is_member = Caboose::RoleMembership.where(:role_id => @role.id, :user_id => u.id).exists? %>
        <tr>
          <td><input type='checkbox' name='user<%= u.id %>' <%= raw is_member ? "checked='true'" : '' %> onclick="toggle_role(<%= u.id %>, <%= @role.id %>, $(this).prop('checked'));" /></td>
          <td><%= u.first_name %> <%= u.last_name %> (<%= u.email %>)</td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <p>There are no users for this site.</p>
<% end %>

<h3>Permissions</h3>
<div id='permissions'>
  <table class='data'>
    <% Caboose::Permission.reorder("resource, action").all.each do |p| %>
      <% has_permission = Caboose::RolePermission.where(:role_id => @role.id, :permission_id => p.id).exists? %>
      <tr>
        <td><input type='checkbox' name='perm<%= p.id %>' <%= raw has_permission ? "checked='true'" : '' %> onclick="toggle_permission(<%= p.id %>, <%= @role.id %>, $(this).prop('checked'));" /></td>
        <td><%= p.resource %> - <%= p.action %></td>
      </tr>
    <% end %>
  </table>
</div>

<div id="role_<%= @role.id %>_members"></div>
<div id="role_<%= @role.id %>_permissions"></div>
<div id="message"></div>

<% content_for :caboose_css do %>
<style type='text/css'>
#content input[type=checkbox] { position: relative; }
#members { height: 400px; overflow-y: scroll; margin-bottom: 20px; }
#permissions { height: 400px; overflow-y: scroll; margin-bottom: 20px; }
</style>
<% end %>
<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

$(document).ready(function() {
  new ModelBinder({
    name: 'Role',
    id: <%= @role.id %>,
    listing_url: '/admin/roles',
    update_url: '/admin/roles/<%= @role.id %>',
    delete_url: '/admin/roles/<%= @role.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'parent_id'   , nice_name: 'Parent'      , type: 'select', value: <%= @role.parent_id %>, text: "<%= @role.parent.nil? ? '[No parent]' : @role.parent.name %>", show_controls: true, loading_message: 'Getting roles...', options_url: '/admin/roles/options', width: 590, message: 'message' },    
      { name: 'name'        , nice_name: 'Name'        , type: 'text' , value: "<%= @role.name %>"        , width: 590 , message: 'message' },
      { name: 'description' , nice_name: 'Description' , type: 'text' , value: "<%= @role.description %>" , width: 590 , message: 'message' }      
    ]    
  });  
});

function toggle_role(user_id, role_id, checked)
{
  $.ajax({
    url: '/admin/users/' + user_id +'/roles/' + role_id,
    type: checked ? 'post' : 'delete',    
    success: function(resp) { }
  });
}

function toggle_permission(permission_id, role_id, checked)
{
  $.ajax({
    url: '/admin/roles/' + role_id +'/permissions/' + permission_id,
    type: checked ? 'post' : 'delete',    
    success: function(resp) { }
  });
}

</script>
<% end %>
