<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<% end %>

<h1 id='page_title'>Edit Code</h1>
<ul id='tabs'>
<%
tabs = {
  'Custom CSS'        => "/admin/custom-css",
  'Custom JS'         => "/admin/custom-js",
  'Embedded HTML'     => "/admin/code"
}

%>
<% tabs.each do |text, href| %>
<li<%= raw request.fullpath == href ? " class='selected'" : '' %>><a href='<%= href %>'><%= raw text %></a></li>
<% end %> 
<li class="back"><input type="button" onclick="window.location='/admin';" value="< Back" />
</ul>
<div id='content2'>

<div class="editor-wrapper">

  <div class="holder">
    <div class="clearfix buttons">
      <p class="warning">WARNING: This code will apply to the entire website. Edit with caution.</p>
      <a href="#" onclick="save();return false;" class="caboose-btn green">Save</a>
      <span id="modified">Modified</span>
      <div id="message"></div>
      <p id="tips">
        <span>Command+S = Save</span>
      </p>
    </div>
    <div id="editor"><%= @site.custom_css %></div>
  </div>
  
</div>

<% content_for :caboose_css do %>
<style>
p.warning {
  color: #d43030;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 8px 0;
}
p#tips {
  display: inline-block;
  float: right;
  font-size: 13px;
  color: gray;
  margin: 0;
  padding-top: 15px;
  padding-right: 2px;
}
p#tips span {
  display: inline-block;
  margin-left: 12px;
}
span#modified {
  font-size: 13px;
  color: gray;
  margin: 0 10px;
  opacity: 0;
  transition: opacity 100ms ease;
}
.buttons {
  margin-bottom: 10px;
}
.buttons .caboose-btn {
  margin-right: 5px;
}
  .editor-wrapper {

  padding-right: 30px;
  }

  .holder {

  }
  #editor {
  height: 800px;
  width: 100%;
  opacity: 0;
  }
  #editor.ace_editor {
    opacity: 1;
  }
  #message {
    display: inline-block;
  }
  #message p.note {
    padding: 1px 15px 2px 15px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 5px;
  }
  #message p.note.loading {
    padding-left: 40px;
  }
</style>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js' %>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.session.setMode("ace/mode/css");
  editor.session.setOptions({
      tabSize: 2
  });

  editor.on("change", function() {
    $("span#modified").css('opacity',1);
  });

  editor.commands.addCommand({
    name: 'save',
    bindKey: {win: "Ctrl-S", "mac": "Cmd-S"},
    exec: function(editor) { save(); }
  });

  function save() {
    $('#message').html("<p class='note loading'>Saving code...</p>").fadeIn();
    $.ajax({
      url: '/admin/sites/<%= @site.id %>',
      type: 'put',
      data: {
        custom_css: editor.getValue()
      },
      success: function(resp) {
        if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>").fadeIn();
        if (resp.success) {
          $("span#modified").css('opacity',0);
          $('#message').html("<p class='note success'>CSS saved!</p>").fadeIn().delay(2000).fadeOut();
        }
      }
    });
  }

</script>
<% end %>


<br style='clear: left; line-height: 0;' />
</div><!-- modal_content2 -->
