
<%= render :partial => 'caboose/sites/admin_header' %>

<p><div id='site_<%= @site.id %>_custom_js'        ></div></p>

<%= render :partial => 'caboose/sites/admin_footer' %>

<% content_for :caboose_css do %>
<style>
  textarea {
    font-family: monospace;
    font-size: 13px;
    line-height: 20px;
    padding: 30px 9px 9px 9px !important;
  }
</style>
<% end %>

<% content_for :caboose_js do %>
<script type="text/javascript">

$(document).ready(function() {
  new ModelBinder({
    name: 'Site',
    id: <%= @site.id %>,
    update_url: '/admin/sites/<%= @site.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'custom_js', nice_name: 'Custom Javascript', type: 'textarea' , value: <%= raw Caboose.json(@site.custom_js) %>, width: 600, height: 400 }      
    ]    
  });       
});

</script>
<% end %>
