<%
s = @site
smtp_config = s.smtp_config
%>
<%= render :partial => 'caboose/sites/admin_header' %>

<h2>SMTP Config</h2>
<p><div id='smtpconfig_<%= smtp_config.id %>_address'              ></div></p>  
<p><div id='smtpconfig_<%= smtp_config.id %>_port'                 ></div></p>
<p><div id='smtpconfig_<%= smtp_config.id %>_domain'               ></div></p>
<p><div id='smtpconfig_<%= smtp_config.id %>_user_name'            ></div></p>
<p><div id='smtpconfig_<%= smtp_config.id %>_password'             ></div></p>
<p><div id='smtpconfig_<%= smtp_config.id %>_authentication'       ></div></p>
<p><div id='smtpconfig_<%= smtp_config.id %>_enable_starttls_auto' ></div></p>
      
<div id='message'></div>

<%= render :partial => 'caboose/sites/admin_footer' %>

<% content_for :caboose_css do %>
<style type='text/css'>
#content input[type=checkbox] { position: relative; }
#members { height: 200px; overflow-y: scroll; margin-bottom: 20px; }
</style>
<% end %>
<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

$(document).ready(function() {
    
  new ModelBinder({
    name: 'SmtpConfig',
    id: <%= smtp_config.id %>,
    update_url: '/admin/sites/<%= @site.id %>/smtp',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [      
      { name: 'address'              , nice_name: 'Address'                 , type: 'text'     , value: <%= raw Caboose.json(smtp_config.address              ) %>, width: 400 },  
      { name: 'port'                 , nice_name: 'Port'                    , type: 'text'     , value: <%= raw Caboose.json(smtp_config.port                 ) %>, width: 400 },
      { name: 'domain'               , nice_name: 'Domain'                  , type: 'text'     , value: <%= raw Caboose.json(smtp_config.domain               ) %>, width: 400 },
      { name: 'user_name'            , nice_name: 'Username'                , type: 'text'     , value: <%= raw Caboose.json(smtp_config.user_name            ) %>, width: 400 },
      { name: 'password'             , nice_name: 'Password'                , type: 'text'     , value: <%= raw Caboose.json(smtp_config.password             ) %>, width: 400 },
      { name: 'authentication'       , nice_name: 'Authentication'          , type: 'select'   , value: <%= raw Caboose.json(smtp_config.authentication       ) %>, width: 400 , options_url: '/admin/sites/smtp-auth-options' },
      { name: 'enable_starttls_auto' , nice_name: 'Enable Start TLS Auto'   , type: 'checkbox' , value: <%= raw smtp_config.enable_starttls_auto ? 1 : 0        %>, width: 400 }                  
    ]    
  });
      
});

</script>
<% end %>
