<%
s = @site
store_config = s.store_config
%>
<%= render :partial => 'caboose/sites/admin_header' %>

<h2>Payment Processor</h2>
<p><div id='storeconfig_<%= store_config.id %>_pp_name'                 ></div></p>
<p><div id='storeconfig_<%= store_config.id %>_pp_username'             ></div></p>
<p><div id='storeconfig_<%= store_config.id %>_pp_password'             ></div></p>

<h2>Other</h2>
<p><div id='storeconfig_<%= store_config.id %>_fulfillment_email'       ></div></p>
<p><div id='storeconfig_<%= store_config.id %>_shipping_email'          ></div></p>
<p><div id='storeconfig_<%= store_config.id %>_handling_percentage'     ></div></p>

<h2>Shipping</h2>
<p><div id='storeconfig_<%= store_config.id %>_allowed_shipping_codes'  ></div></p>
<p><div id='storeconfig_<%= store_config.id %>_default_shipping_code'   ></div></p>

<h3>Origin</h3>
<p><div id='storeconfig_<%= store_config.id %>_origin_country'          ></div></p>
<p><div id='storeconfig_<%= store_config.id %>_origin_state'            ></div></p>
<p><div id='storeconfig_<%= store_config.id %>_origin_city'             ></div></p>
<p><div id='storeconfig_<%= store_config.id %>_origin_zip'              ></div></p>

<h3>USPS</h3>
<p><div id='storeconfig_<%= store_config.id %>_use_usps'                ></div></p>
<p><div id='storeconfig_<%= store_config.id %>_usps_secret_key'         ></div></p>
<p><div id='storeconfig_<%= store_config.id %>_usps_publishable_key'    ></div></p>
      
<div id='message'></div>

<%= render :partial => 'caboose/sites/admin_footer' %>

<% content_for :caboose_css do %>
<style type='text/css'>
#content input[type=checkbox] { position: relative; }
#members { height: 200px; overflow-y: scroll; margin-bottom: 20px; }
</style>
<% end %>
<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

$(document).ready(function() {

  new ModelBinder({
    name: 'StoreConfig',
    id: <%= store_config.id %>,
    update_url: '/admin/sites/<%= @site.id %>/store',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'pp_name'                 , nice_name: 'Type'                       , type: 'select'   , value: <%= raw Caboose.json(store_config.pp_name                ) %>, width: 400 , options_url: '/admin/sites/payment-processor-options' },
      { name: 'pp_username'             , nice_name: 'Username'                   , type: 'text'     , value: <%= raw Caboose.json(store_config.pp_username            ) %>, width: 400 },
      { name: 'pp_password'             , nice_name: 'Password'                   , type: 'text'     , value: <%= raw Caboose.json(store_config.pp_password            ) %>, width: 400 },
      { name: 'use_usps'                , nice_name: 'Use USPS'                   , type: 'checkbox' , value: <%= raw Caboose.json(store_config.use_usps ? 1 : 0       ) %>, width: 400 },
      { name: 'usps_secret_key'         , nice_name: 'USPS Secret Key'            , type: 'text'     , value: <%= raw Caboose.json(store_config.usps_secret_key        ) %>, width: 400 },
      { name: 'usps_publishable_key'    , nice_name: 'USPS Publishable Key'       , type: 'text'     , value: <%= raw Caboose.json(store_config.usps_publishable_key   ) %>, width: 400 },
      { name: 'allowed_shipping_codes'  , nice_name: 'Allowed Shipping Codes'     , type: 'text'     , value: <%= raw Caboose.json(store_config.allowed_shipping_codes ) %>, width: 400 },
      { name: 'default_shipping_code'   , nice_name: 'Default Shipping Code'      , type: 'text'     , value: <%= raw Caboose.json(store_config.default_shipping_code  ) %>, width: 400 },
      { name: 'origin_country'          , nice_name: 'Country'                    , type: 'text'     , value: <%= raw Caboose.json(store_config.origin_country         ) %>, width: 400 },
      { name: 'origin_state'            , nice_name: 'State'                      , type: 'text'     , value: <%= raw Caboose.json(store_config.origin_state           ) %>, width: 400 },
      { name: 'origin_city'             , nice_name: 'City'                       , type: 'text'     , value: <%= raw Caboose.json(store_config.origin_city            ) %>, width: 400 },
      { name: 'origin_zip'              , nice_name: 'Zip'                        , type: 'text'     , value: <%= raw Caboose.json(store_config.origin_zip             ) %>, width: 400 },
      { name: 'fulfillment_email'       , nice_name: 'Fulfillment Email'          , type: 'text'     , value: <%= raw Caboose.json(store_config.fulfillment_email      ) %>, width: 400 },
      { name: 'shipping_email'          , nice_name: 'Shipping Email'             , type: 'text'     , value: <%= raw Caboose.json(store_config.shipping_email         ) %>, width: 400 },
      { name: 'handling_percentage'     , nice_name: 'Handling Percentage'        , type: 'text'     , value: <%= raw Caboose.json(store_config.handling_percentage    ) %>, width: 400 }            
    ]    
  });
        
});

</script>
<% end %>
