<div class="post-details-wrapper" id="block_<%= block.id %>">
	<div class="constrain">
		<div class="grid-row">
			<div class="unit3of4 main-post-content">
				<% if post.image && !post.image.url.blank? && !post.image.url.include?('placehold') %>
					<div class="post-image-banner" style="background-image:url(<%= post.image.url(:huge) %>);"></div>
				<% end %>
				<div class="post-text">
					<div class="grid-row">
						<div class="unit1of2 left">
							<h2 class="post-title"><%= post.title %></h2>
							<% if !post.subtitle.blank? %><h3 class="post-subtitle"><%= post.subtitle %></h3><% end %>
						</div>
						<div class="unit1of2 right">
							<% if !post.author.blank? %><h4 class="post-author">by <%= post.author %></h4><% end %>
							<h6 class="post-date"><%= post.created_at.in_time_zone(logged_in_user.timezone).strftime("%B %-d, %Y, %l:%M%P") %></h6>
						</div>
					</div>
					<div class='share-icons clearfix'>
						<div class="share-buttons">
							<% url = "http://" + site.primary_domain.domain + post.uri %>
							<a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>" target="_blank" title="Share on Facebook" class="holder" id="facebook" onclick="window.open(this.href, 'mywin',
	'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><span class="icon-facebook white"></span></a>
							<a href="https://twitter.com/home?status=<%= post.title + ' @ ' + url %>" title="Share on Twitter" target="_blank" class="holder" id="twitter" onclick="window.open(this.href, 'mywin',
	'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><span class="icon-twitter white"></span></a>
							<a href="https://plus.google.com/share?url=<%= url %>" title="Share on Google +" target="_blank" class="holder" id="google-plus" onclick="window.open(this.href, 'mywin',
	'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><span class="icon-google-plus white"></span></a>
							<a href="mailto:?subject=<%= post.title %>&amp;body=<%= url %>" title="Share by Email" class="holder" id="email"><span class="icon-mail white"></span></a>
						</div>
	        </div>
					<div class="post-body richtext">
						<% if block.children.count == 0 && editing %>
							<p style="padding:8px;border:1px dashed gray;text-align:center;cursor:pointer;">This post has no content yet. To add content, click here and then "Add a child block!"</p>
						<% end %>
						<% block.children.each do |b| %>
			        <%= raw block.render(b, local_assigns) %>
			      <% end %>
					</div>
				</div>
			</div>
			<div class="unit1of4 sidebar">
				<% news = Caboose::Post.where(:site_id => site.id, :published => true).where("id != ?",post.id).order("created_at DESC").take(5) %>
				<% if news.count > 0 %>
					<section class="recent-news-wrapper">
						<h2 class="recent-news-title">More News</h2>
						<ul class="recent-news-list">
							<% news.each do |n| %>
								<% cats = n.post_categories.collect { |c| c.name } %>
								<li class="clearfix news-item">
									<div class="left">
										<% if cats.length > 0 %><h6 class="news-category"><%= cats.join(", ") %></h6><% end %>
										<a href="<%= n.uri %>" class="news-title"><%= n.title %></a>
										<h6 class="news-date"><%= (n.created_at - 6.hours).strftime("%B %-d, %Y") %></h6>
									</div>
									<div class="right">
										<% if n.image && !n.image.url.blank? && !n.image.url.include?('placehold') %>
											<a href="<%= n.uri %>" class="image-holder" style="background-image:url(<%= n.image.url(:thumb) %>);"></a>
										<% end %>
									</div>
								</li>
							<% end %>
						</ul>
					</section>
				<% else %>
					<section class="recent-news-wrapper none">
						<h2 class="recent-news-title">More News</h2>
						<p>Sorry, no news yet.<br />
						Check back later!</p>
					</section>	
				<% end %>
			</div>
		</div>
	</div>
</div>