<%
@nav = Caboose.plugin_hook('admin_nav', [], @logged_in_user, @page, @site)
return_url = session[:caboose_station_return_url].nil? ? '/' : session[:caboose_station_return_url]
return_url = '/' if return_url.starts_with?('/admin/') || return_url == '/admin'
width = 200
@nav.each {|item| width = 400 if item['id'] == @tab } if @tab
%>

<h1>Admin</h1>
<div class="admin-index-menu" id="admin-list">

  <div class="admin-intro">
    <h4>Welcome to Caboose</h4>
    <p>For assistance, please email <a href="mailto:support@nine.is">support@nine.is</a>.</p>
  </div>
<ul>
  <% i = 0 %>
  <% @nav.each do |item| %>
    <% id = item['id'].nil? ? i.to_s : item['id'] %>
    <% href = item['href'].nil? ? '#' : item['href'] %>
    <% modal = item['modal'].nil? ? false : item['modal'] %>
    <li id='nav_item_<%= id %>'>
      <% if href != "#" %><a href='<%= href %>'<%= raw (modal ? " rel='modal'" : "") %>><% end %>
        <span class='icon'></span><span class='text'><%= item['text'] %></span>
      <% if href != "#" %></a><% end %>
    <% if (!item['children'].nil? && item['children'].count > 0) %>
      <ul>
        <% item['children'].each do |item2| %>
          <% next if item2['text'].blank? %>
          <% modal = item2['modal'].nil? ? false : item2['modal'] %>
          <% icon = item2['text'].parameterize %>
          <% icon = 'rets' if item['text'] == 'RETS' %>
          <% icon = 'store' if item['text'] == 'Store' %>
          <% icon = item2['icon'] if item2['icon'] %>
          <li><a href='<%= item2['href'] %>'<%= raw (modal ? " rel='modal'" : "") %>>
            <span class="icon3-<%= icon %>"></span>
            <span class="text"><%= item2['text'] %></span></a></li>
        <% end %>
      </ul>
    <% end %>
    </li>
    <% i + 1 %>
  <% end %>
</ul>
</div>

<%= content_for :caboose_js do %>
<%= javascript_include_tag "caboose/station" %>
<script type='text/javascript'>
var modal = false;
var station = false;
$(document).ready(function() {
  modal = new CabooseModal(<%= width %>);
  station = new CabooseStation(modal<%= raw @tab ? ", '#{@tab}'" : '' %>);
});
</script>
<% end %>
<% content_for :caboose_css do %>
<%= stylesheet_link_tag 'caboose/admin_menu_icons' %>
<style>
  #admin-list ul li {
    line-height: 26px;
  }
  #admin-list ul li a {
    color: #2424b1;
    text-decoration: none;
  }
  #admin-list ul li a:visited {
    color: #824daf;
  }
  #admin-list ul li a:hover {
    color: #24b14b;
    text-decoration: underline;
  }
  #admin-list ul li span.disabled {
    text-decoration: line-through;
    color: #888888;
  }
</style>
<% end %>