<%
sp = @shipping_package
sc = @site.store_config
%>

<h1>Edit Shipping Packages</h1>

<p><div id='shippingpackage_<%= sp.id %>_name'               ></div></p>                                           
<p><div id='shippingpackage_<%= sp.id %>_inside_length'      ></div></p> 
<p><div id='shippingpackage_<%= sp.id %>_inside_width'       ></div></p> 
<p><div id='shippingpackage_<%= sp.id %>_inside_height'      ></div></p>
<p><div id='shippingpackage_<%= sp.id %>_outside_length'     ></div></p> 
<p><div id='shippingpackage_<%= sp.id %>_outside_width'      ></div></p> 
<p><div id='shippingpackage_<%= sp.id %>_outside_height'     ></div></p>
<p><div id='shippingpackage_<%= sp.id %>_volume'             ></div></p>
<p><div id='shippingpackage_<%= sp.id %>_empty_weight'       ></div></p>
<p><div id='shippingpackage_<%= sp.id %>_cylinder'           ></div></p>
<p><div id='shippingpackage_<%= sp.id %>_flat_rate_price'    ></div></p>
<p><div id='shippingpackage_<%= sp.id %>_priority'           ></div></p>            
<p><div id='shippingpackage_<%= sp.id %>_shipping_method_id' ></div></p>
<div id='message'></div>
<p>
<input type='button' value='< Back' onclick="window.location='/admin/shipping-packages';" />
<input type='button' value='Delete Shipping Package' onclick="delete_shipping_package(<%= sp.id %>);" />
</p>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'caboose/model/all' %>
<script type='text/javascript'>

$(document).ready(function() {
  new ModelBinder({
    name: 'ShippingPackage',
    id: <%= sp.id %>,
    update_url: '/admin/shipping-packages/<%= sp.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [     
      { name: 'name'               , nice_name: 'name'                                               , type: 'text'              , value: <%= raw Caboose.json(sp.name            ) %>, width: 400, align: 'left'   },                                           
      { name: 'inside_length'      , nice_name: 'Inside Length  (<%= sc.length_unit %>)'             , type: 'text'              , value: <%= raw Caboose.json(sp.inside_length   ) %>, width: 400, align: 'right'  }, 
      { name: 'inside_width'       , nice_name: 'Inside Width   (<%= sc.length_unit %>)'             , type: 'text'              , value: <%= raw Caboose.json(sp.inside_width    ) %>, width: 400, align: 'right'  }, 
      { name: 'inside_height'      , nice_name: 'Inside Height  (<%= sc.length_unit %>)'             , type: 'text'              , value: <%= raw Caboose.json(sp.inside_height   ) %>, width: 400, align: 'right'  },
      { name: 'outside_length'     , nice_name: 'Outside Length (<%= sc.length_unit %>)'             , type: 'text'              , value: <%= raw Caboose.json(sp.outside_length  ) %>, width: 400, align: 'right'  }, 
      { name: 'outside_width'      , nice_name: 'Outside Width  (<%= sc.length_unit %>)'             , type: 'text'              , value: <%= raw Caboose.json(sp.outside_width   ) %>, width: 400, align: 'right'  }, 
      { name: 'outside_height'     , nice_name: 'Outside Height (<%= sc.length_unit %>)'             , type: 'text'              , value: <%= raw Caboose.json(sp.outside_height  ) %>, width: 400, align: 'right'  },
      { name: 'volume'             , nice_name: 'Volume         (<%= sc.length_unit %><sup>3</sup>)' , type: 'text'              , value: <%= raw Caboose.json(sp.volume          ) %>, width: 400, align: 'right'  },
      { name: 'empty_weight'       , nice_name: 'Empty Weight   (<%= sc.weight_unit %>)'             , type: 'text'              , value: <%= raw Caboose.json(sp.empty_weight    ) %>, width: 400, align: 'right'  },
      { name: 'cylinder'           , nice_name: 'Cylinder'                                           , type: 'text'              , value: <%= raw Caboose.json(sp.cylinder        ) %>, width: 400, align: 'right'  },
      { name: 'flat_rate_price'    , nice_name: 'Flat Rate Price'                                    , type: 'text'              , value: <%= raw Caboose.json(sp.flat_rate_price ) %>, width: 400, align: 'right'  },
      { name: 'priority'           , nice_name: 'Priority'                                           , type: 'text'              , value: <%= raw Caboose.json(sp.priority        ) %>, width: 400, align: 'right'  },            
      { name: 'shipping_method_id' , nice_name: 'Shipping Methods'                                   , type: 'checkbox-multiple' , value: <%= raw Caboose.json(sp.shipping_methods.collect{ |sm| sm.id }) %>, width: 400, height: 600, options_url: '/admin/shipping-methods/options' }
    ]    
  });       
});

function delete_shipping_package(sp_id, confirm)
{
  if (!confirm)
  {
    var p = $('<p/>')
      .addClass('note warning')
      .append("Are you sure you want to delete the shipping package? ")
      .append($('<input/>').attr('type','button').val('Yes').click(function(e) { delete_shipping_package(sp_id, true); })).append(' ')
      .append($('<input/>').attr('type','button').val('No' ).click(function(e) { $('#message').empty(); }));              
    $('#message').empty().append(p);
    return;        
  }
  $('#message').html("<p class='loading'>Deleting shipping package...</p>");
  $.ajax({
    url: '/admin/shipping-packages/' + sp_id,
    type: 'delete',
    success: function(resp) {
      if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect) window.location = resp.redirect;
    }    
  });
}

</script>
<% end %>
