
<%= render :partial => 'caboose/users/admin_header' %>

<div id='usersubscriptions'></div>

<%= render :partial => 'caboose/users/admin_footer' %>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'caboose/model/all' %>
<script type='text/javascript'>

$(document).ready(function() {  
  var that = this;
  var table = new IndexTable({    
    form_authenticity_token: '<%= form_authenticity_token %>',
    container: 'usersubscriptions',
    base_url: '/admin/users/<%= @edituser.id %>/subscriptions',
    allow_bulk_edit: true,
    allow_bulk_delete: true,
    allow_duplicate: false,
    allow_advanced_edit: true,
    fields: [  
      { show: true, bulk_edit: true, name: 'subscription_id'   , nice_name: 'Subscription'      , sort: 'subscription_id'   , type: 'select' , value: function(us) { return us.subscription_id   }, text: function(us) { return us.subscription ? us.subscription.name : us.subscription_id; }, width: 75, align: 'left', options_url: '/admin/users<%= @edituser.id %>/subscriptions/subscription-options' },      
      { show: true, bulk_edit: true, name: 'date_started'      , nice_name: 'Date Started'      , sort: 'date_started'      , type: 'date'   , value: function(us) { return us.date_started      }, width: 75, align: 'left' },
      { show: true, bulk_edit: true, name: 'date_started_full' , nice_name: 'Date Started Full' , sort: 'date_started_full' , type: 'date'   , value: function(us) { return us.date_started_full }, width: 75, align: 'left' },
      { show: true, bulk_edit: true, name: 'status'            , nice_name: 'Status'            , sort: 'status'            , type: 'select' , value: function(us) { return us.status            }, width: 75, align: 'left', options_url: '/admin/users<%= @edituser.id %>/subscriptions/status-options' }
    ],
    new_model_text: 'New User Subscription',
    no_models_text: "This user doesn't have any subscriptions right now.",
    new_model_fields: [
      { name: 'subscription_id', nice_name: 'Subscription', type: 'select', width: 400, options_url: '/admin/users<%= @edituser.id %>/subscriptions/subscription-options' }            
    ],
    bulk_import_fields: ['subscription_id', 'date_started', 'date_started_full', 'status'],
    bulk_import_url: '/admin/users/<%= @edituser.id %>/subscriptions/bulk'
  });        
});

</script>
<% end %>
