
<div id='caboose_station'>
<h2>Station</h2>
<ul>        
  <li><%= link_to 'My Account', "/users/#{@user.id}/edit" %></li>
  <li><%= link_to 'Logout', "/logout" %></li>
  <% if (@user.is_allowed('admin', 'view')) %> 
    <li><li><%= link_to 'Admin', "/admin" %></li></li>
  <% end %>
  <%
  uru = session['use_redirect_urls'].nil? ? true : session['use_redirect_urls']
  %>
  <li><a href="javascript:caboose_set_redirect_url(<%= uru ? '0' : '1' %>, this);"><%= uru ? 'Disable' : 'Enable' %> Redirect Urls</a></li>
  <% if (!@page_tasks.nil?) %>
    <% @page_tasks.each do |href, task| %>
      <li><%= link_to task, href %></li>
    <% end %>
  <% end %>
</ul>
