<!DOCTYPE html>
<html>
<head>
<title>Caboose</title>
<%= yield :css %>
<%= csrf_meta_tags %>
</head>
<body>
<div id='wrapper'>
  <div id='header'>
    <div id='top_nav'>
      <% if (@user.nil? || @user.id == Caboose::User::LOGGED_OUT_USER_ID) %>
        <%= link_to "Login", "/login?return_url=#{request.fullpath}", :id => 'caboose_login' %>
      <% else %>
        <%= link_to "Control Panel", '#', :id => 'caboose_conductor' %>
      <% end %>
    </div>
  </div>
  <div id='content_wrapper'>
    <div id='content'>

<% if (yield) %>
<%= yield %>
<% elsif (!@page.nil?) %>
<h1><%= @page.title %></h1>
<%= @page.content %>  
<% end %>

    </div>    
  </div>
</div>
<%= render :partial => 'layouts/caboose/station' %>
<%= yield :js %>
</body>
</html>
