<%
sc = @social_config
ms = Caboose::Site.where(:is_master => true).first
domain = ms ? (ms.primary_domain ? ms.primary_domain.domain : 'www.caboosecms.com') : 'www.caboosecms.com'
%>
<h1>Social Media Config</h1>

<div class="social-wrap">
<p>Find your Facebook page ID <a href="http://findmyfbid.com" target="_blank">here</a>.</p>
<div id="socialconfig_<%= sc.id %>_facebook_page_id"     ></div>
<% if false %>
<p style="margin:0 0 15px 0;width:500px;font-size:13px;color:#000;text-align:right;position:relative;bottom:10px;"><a id="fb-login" href="#">Authorize Facebook</a> (you must authorize to show posts on this website)
<% end %>
<div id="socialconfig_<%= sc.id %>_twitter_username"     ></div>
<div id="socialconfig_<%= sc.id %>_instagram_username"   ></div>
<% if sc.instagram_access_token %>
<p style="margin:0 0 15px 0;width:500px;font-size:13px;color:#000;text-align:right;position:relative;bottom:10px;">
Authorized
<a href="#" id="deauthorize-instagram" style="color:#949494;font-size:12px;margin-left:6px;">Deauthorize</a>
</p><% end %>
</p>
<% if !sc.instagram_access_token %>
<p style="margin:0 0 15px 0;width:500px;font-size:13px;color:#000;text-align:right;position:relative;bottom:10px;"><a href="https://api.instagram.com/oauth/authorize/?client_id=bac12987b6cb4262a004f3ffc388accc&redirect_uri=http://<%= domain %>/api/instagram&response_type=code&state=<%= @site.id %>">Authorize Instagram</a> (you must authorize to show posts on this website)
<% if params[:instagram] && params[:instagram] == 'fail' %>
<br /><span style="color:red;">Instagram login failed. Please try again.</span>
<% end %>
</p>
<% end %>
<div id="socialconfig_<%= sc.id %>_youtube_url"          ></div>
<div id="socialconfig_<%= sc.id %>_pinterest_url"        ></div>
<div id="socialconfig_<%= sc.id %>_vimeo_url"            ></div>
<div id="socialconfig_<%= sc.id %>_rss_url"              ></div>
<div id="socialconfig_<%= sc.id %>_google_plus_url"      ></div>
<div id="socialconfig_<%= sc.id %>_linkedin_url"         ></div>
<div id="socialconfig_<%= sc.id %>_google_analytics_id"  ></div>
<div id="socialconfig_<%= sc.id %>_google_analytics_id2" ></div>
<div id="socialconfig_<%= sc.id %>_auto_ga_js"           ></div>
<div id="socialconfig_<%= sc.id %>_share_image"          ></div>
      
<div id='message'></div>

</div>

<% content_for :caboose_css do %>
<style type="text/css">
  #deauthorize-instagram:hover {
    color: red !important;
  }
  .social-wrap > div {
    margin-bottom: 15px;
  }
</style>
<% end %>

<% content_for :caboose_js do %>

<% if false %>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '452544411866077',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.0'
    });
  };

  $("#fb-login").click(function(e) {
    e.preventDefault();
    FB.login(function(response) {
        if (response.authResponse) {
         console.log('Welcome!  Fetching your information.... ');
         FB.api('/me', function(response) {
           console.log('Good to see you, ' + response.name + '.');
           FB.getLoginStatus(function(response) {
              if (response.status === 'connected') {
                var accessToken = response.authResponse.accessToken;
                console.log(accessToken);
                FB.api('/me/accounts', function(response) {
                  console.dir(response);
                });
              } 
            });
         });
        }
        else {
         console.log('User cancelled login or did not fully authorize.');
        }
    });
  });

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<% end %>

<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

$(document).ready(function() {
  $("#deauthorize-instagram").click(function(event) {
    event.preventDefault();
    $.ajax({
      url: "/api/instagram",
      type: 'delete',
      data: {
        site_id: <%= @site.id %>
      },
      success: function(data) {
        document.location.reload(true);
      }
    });
  });
    
  new ModelBinder({
    name: 'SocialConfig',
    id: <%= sc.id %>,
    update_url: '/admin/social',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [      
      { name: 'facebook_page_id'     , nice_name: 'Facebook Page ID'                       , type: 'text'     , value: <%= raw Caboose.json(sc.facebook_page_id) %>, width: 500 },
      { name: 'twitter_username'     , nice_name: 'Twitter Username'                       , type: 'text'     , value: <%= raw Caboose.json(sc.twitter_username) %>, width: 500 },
      { name: 'instagram_username'   , nice_name: 'Instagram Username'                     , type: 'text'     , value: <%= raw Caboose.json(sc.instagram_username) %>, width: 500 },
      { name: 'youtube_url'          , nice_name: 'YouTube Channel URL'                     , type: 'text'     , value: <%= raw Caboose.json(sc.youtube_url) %>, width: 500 },
      { name: 'pinterest_url'        , nice_name: 'Pinterest URL'                          , type: 'text'     , value: <%= raw Caboose.json(sc.pinterest_url) %>, width: 500 },
      { name: 'vimeo_url'            , nice_name: 'Vimeo Username'                              , type: 'text'     , value: <%= raw Caboose.json(sc.vimeo_url) %>, width: 500 },
      { name: 'rss_url'              , nice_name: 'RSS Feed URL'                           , type: 'text'     , value: <%= raw Caboose.json(sc.rss_url) %>, width: 500 },
      { name: 'google_plus_url'      , nice_name: 'Google Plus URL'                        , type: 'text'     , value: <%= raw Caboose.json(sc.google_plus_url) %>, width: 500 },
      { name: 'linkedin_url'         , nice_name: 'LinkedIn URL'                           , type: 'text'     , value: <%= raw Caboose.json(sc.linkedin_url) %>, width: 500 },
      { name: 'google_analytics_id'  , nice_name: 'Primary Google Analytics Tracking ID'   , type: 'text'     , value: <%= raw Caboose.json(sc.google_analytics_id) %>, width: 500 },
      { name: 'google_analytics_id2' , nice_name: 'Secondary Google Analytics Tracking ID' , type: 'text'     , value: <%= raw Caboose.json(sc.google_analytics_id2) %>, width: 500 },
      { name: 'auto_ga_js'           , nice_name: 'Auto Embed Google Analytics JS'         , type: 'checkbox' , value: <%= sc.auto_ga_js ? 1 : 0 %>, width: 500 },
      { name: 'share_image'  , nice_name: 'Share Image'   , type: 'image'  , value: <%= raw Caboose.json(sc.share_image ? sc.share_image.url(:large) : 'http://placehold.it?300x300') %>, width: 800, update_url: '/admin/social/image' }
    ]    
  });
      
});

</script>
<% end %>
