<!DOCTYPE html>
<html>
<head>
<title>Caboose</title>
<%= yield :css %>
<%= csrf_meta_tags %>
</head>
<body>
<div id='wrapper'>
  <div id='header'>
    <%= render :partial => 'layouts/caboose/top_nav' %>
  </div>
  <div id='content_wrapper'>
    <div id='content'>

<% if yield && yield.strip.length > 0 %>
  <%= yield %>
<% elsif !@page.nil? %>
  <%= yield :page_content %>
<% end %>

    </div>    
  </div>
</div>
<%= render :partial => 'layouts/caboose/station' %>
<%= yield :js %>
</body>
</html>
