<%
def get_name(fs)
	(1..20).each do |ind|
		field = "field#{ind}_name".to_sym
		value = "field#{ind}_value".to_sym
		if fs[field] == 'name' || fs[field] == 'name_required'
			return fs[value]
			break
		end
	end
	return 
end
def get_subject(fs)
	(1..20).each do |ind|
		field = "field#{ind}_name".to_sym
		value = "field#{ind}_value".to_sym
		if fs[field] == 'subject' || fs[field] == 'subject_required'
			return fs[value]
			break
		end
	end
	return ''
end
def get_message(fs)
	(1..20).each do |ind|
		field = "field#{ind}_name".to_sym
		value = "field#{ind}_value".to_sym
		if fs[field] == 'message' || fs[field] == 'message_required'
			return fs[value]
			break
		end
	end
	return ''
end
%>

<h1>Inbox - Spam</h1>

<div class="constrain clearfix" style="padding:0 40px 0 10px;">
	<div class="inbox-btns constrain">
		<a href="/admin/inbox" class="caboose-btn">View Inbox</a>
	</div>
	<table class="inbox-table" cellpadding="0" cellspacing="0">
		<tr>
			<th>From</th>
			<th>Subject</th>
			<th>Message</th>
			<th>Date</th>
		</tr>
		<% @contacts.each do |fs| %>
			<tr data-id="<%= fs.id %>">
				<td><%= get_name(fs) %></td>
				<td><%= get_subject(fs) %></td>
				<td><%= get_message(fs).truncate(60) %></td>
				<td><%= fs.date_submitted.strftime('%-m/%-d/%Y') %></td>
			</tr>
		<% end %>
	</table>
</div>

<% content_for :caboose_js do %>
<script>
	$(".inbox-table tr").click(function() {
		window.location = "/admin/inbox/" + $(this).data("id");
	});
</script>
<% end %>