<%
gc = @gift_card
%>

<h1>Edit Gift Card</h1>

<p><div id='giftcard_<%= gc.id %>_name'               ></div></p>
<p><div id='giftcard_<%= gc.id %>_code'               ></div></p>
<p><div id='giftcard_<%= gc.id %>_card_type'          ></div></p>
<p><div id='giftcard_<%= gc.id %>_total'              ></div></p>
<p><div id='giftcard_<%= gc.id %>_balance'            ></div></p>
<p><div id='giftcard_<%= gc.id %>_min_invoice_total'  ></div></p>
<p><div id='giftcard_<%= gc.id %>_date_available'     ></div></p>
<p><div id='giftcard_<%= gc.id %>_date_expires'       ></div></p>
<p><div id='giftcard_<%= gc.id %>_status'             ></div></p>     
<div id='message'></div>

<h2>Usage</h2>
<% if gc.discounts && gc.discounts.count > 0 %>
  <table class='data'>
    <tr>
      <th>Order #</th>            
      <th>Amount</th>
    </tr>
    <% gc.discounts.each do |d| %>
      <tr>
        <td><a href='/admin/invoices/<%= d.invoice_id %>'><%= d.invoice_id %></a></td>
        <td><%= number_to_currency(d.amount) %></td>
      </tr>
    <% end %>
  </table>      
<% else %>
  <p>This gift card has not been used yet.</p>
<% end %>

<p>
<input type='button' value='< Back' onclick="window.location='/admin/gift-cards';" />
<input type='button' value='Delete Gift Card' onclick="delete_gift_card(<%= gc.id %>);" />
</p>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'caboose/model/all' %>
<script type='text/javascript'>

$(document).ready(function() {
  new ModelBinder({
    name: 'GiftCard',
    id: <%= gc.id %>,
    update_url: '/admin/gift-cards/<%= gc.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [      
      { name: 'name'               , nice_name: 'Name'                  , type: 'text'   , value: <%= raw Caboose.json(gc.name                               ) %>, width: 400, align: 'left'  },
      { name: 'code'               , nice_name: 'Code'                  , type: 'text'   , value: <%= raw Caboose.json(gc.code                               ) %>, width: 400, align: 'left'  },
      { name: 'card_type'          , nice_name: 'Type'                  , type: 'select' , value: <%= raw Caboose.json(gc.card_type                          ) %>, width: 400, align: 'left'  , options_url: '/admin/gift-cards/card-type-options' },
      { name: 'total'              , nice_name: 'Total'                 , type: 'text'   , value: <%= raw Caboose.json(sprintf('%.2f', gc.total             )) %>, width: 400, align: 'right' },
      { name: 'balance'            , nice_name: 'Balance'               , type: 'text'   , value: <%= raw Caboose.json(sprintf('%.2f', gc.balance           )) %>, width: 400, align: 'right' },
      { name: 'min_invoice_total'  , nice_name: 'Minimum Invoice Total' , type: 'text'   , value: <%= raw Caboose.json(sprintf('%.2f', gc.min_invoice_total )) %>, width: 400, align: 'right' },
      { name: 'date_available'     , nice_name: 'Date Available'        , type: 'date'   , value: <%= raw Caboose.json(gc.date_available ? gc.date_available.strftime('%m/%d/%Y') : '') %>, width: 400, align: 'left'  },
      { name: 'date_expires'       , nice_name: 'Date Expires'          , type: 'date'   , value: <%= raw Caboose.json(gc.date_expires   ? gc.date_expires.strftime('%m/%d/%Y')   : '') %>, width: 400, align: 'left'  },
      { name: 'status'             , nice_name: 'Status'                , type: 'select' , value: <%= raw Caboose.json(gc.status                             ) %>, width: 400, align: 'left'  , options_url: '/admin/gift-cards/status-options' }      
    ]    
  });       
});

function delete_gift_card(gc_id, confirm)
{
  if (!confirm)
  {
    var p = $('<p/>')
      .addClass('note warning')
      .append("Are you sure you want to delete the gift card? ")
      .append($('<input/>').attr('type','button').val('Yes').click(function(e) { delete_gift_card(gc_id, true); })).append(' ')
      .append($('<input/>').attr('type','button').val('No' ).click(function(e) { $('#message').empty(); }));              
    $('#message').empty().append(p);
    return;        
  }
  $('#message').html("<p class='loading'>Deleting gift card...</p>");
  $.ajax({
    url: '/admin/gift-cards/' + gc_id,
    type: 'delete',
    success: function(resp) {
      if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect) window.location = resp.redirect;
    }    
  });
}

</script>
<% end %>
