
<div id='my_account'>
  <h1>My Account</h1>
  <p><div id='user_<%= @user.id %>_first_name' ></div></p>
  <p><div id='user_<%= @user.id %>_last_name'  ></div></p>
  <p><div id='user_<%= @user.id %>_email'      ></div></p>
  <p><div id='user_<%= @user.id %>_phone'      ></div></p>
  <div id='message2'></div>
  <p>
    <input type='button' value='Reset Password' class='btn' onclick="reset_user_password();" />
  <% if @site.use_store %>
    <input type='button' value='Invoice History' class='btn' onclick="window.location='/my-account/invoices';" />
  <% end %>
  </p>
</div>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

$(document).ready(function() {
  new ModelBinder({
    name: 'User',
    id: <%= @user.id %>,
    update_url: '/my-account',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'first_name' , nice_name: 'First name'   , type: 'text', value: <%= raw Caboose.json(@user.first_name) %>, width: 400 },
      { name: 'last_name'  , nice_name: 'Last name'    , type: 'text', value: <%= raw Caboose.json(@user.last_name)  %>, width: 400 },      
      { name: 'email'      , nice_name: 'Email'        , type: 'text', value: <%= raw Caboose.json(@user.email)      %>, width: 400 },
      { name: 'phone'      , nice_name: 'Phone Number' , type: 'text', value: <%= raw Caboose.json(@user.phone)      %>, width: 400 }
    ],
    on_load: function() {
      $('#user_<%= @user.id %>_first_name').css('width', '400px');
      $('#user_<%= @user.id %>_last_name' ).css('width', '400px');
      $('#user_<%= @user.id %>_email'     ).css('width', '400px');
      $('#user_<%= @user.id %>_phone'     ).css('width', '400px');    
    }
  });  
});

function reset_user_password(pass1, pass2)
{
  if (!pass1)
  {
    var p = $('<p/>').addClass('note warning')
      .append("Please enter your password:<br /><br />")
      .append($('<input/>').attr('type', 'password').attr('id', 'pass1').css('width', '200px')).append(' ')
      .append($('<input/>').attr('type', 'button').val('Continue').click(function(e) { reset_user_password($('#pass1').val()); }))
      .append("<br /><br />Passwords must be 8 characters long.");
    $('#message2').empty().append(p);
    return;    
  }
  if (!pass2)
  {
    var p = $('<p/>').addClass('note warning')
      .append("Please enter it again to confirm:<br /><br />")
      .append($('<input/>').attr('type', 'password').attr('id', 'pass2').css('width', '200px')).append(' ')
      .append($('<input/>').attr('type', 'button').val('Continue').click(function(e) { reset_user_password(pass1, $('#pass2').val()); }))
      .append("<br /><br />Passwords must be 8 characters long.");      
    $('#message2').empty().append(p);
    return;    
  }
  $('#message2').html("<p class='loading'>Setting password...</p>");
  $.ajax({
    url: '/my-account',
    type: 'put',
    data: {
      password: pass1,
      confirm: pass2
    },
    success: function(resp) {
      if (resp.error) $('#message2').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.success) {
        $('#message2').html("<p class='note success'>The password has been successfully updated.</p>");
        setTimeout(function() { $('#message2').empty(); }, 3000);
      }
    }      
  });  
}

</script>
<% end %>
<%= content_for :caboose_css do %>
<%= stylesheet_link_tag "caboose/my_account", :media => "all" %>
<% end %>
