<%
store_config = @invoice.site.store_config if @invoice
u = @logged_in_user
%>

<div id="caboose-my-account">
  <h2>My Account</h2>
  <div class="grid-row">
    <div class="<% if @site.use_store %>unit1of2 left<% else %>unit1of1<% end %>">
      <div class="card-form-wrapper address">
        <h4 class="title">Account Information</h4>
        <div class="input-holder"><div id='user_<%= @user.id %>_first_name' ></div></div>
        <div class="input-holder"><div id='user_<%= @user.id %>_last_name'  ></div></div>
        <div class="input-holder"><div id='user_<%= @user.id %>_email'      ></div></div>
        <div class="input-holder"><div id='user_<%= @user.id %>_phone'      ></div></div>
        <div id='message2'></div>
        <p class="buttons">
          <a href="#" title='Reset Password' class='btn' id="reset-password-link">Reset Password</a>
          <% if @site.use_store && store_config %>    
            <a href="/my-account/invoices" title='Invoice History' class='btn'>Invoice History</a>
          <% end %>
        </p>
      </div>
    </div>
    <% if @site.use_store && store_config %>
      <div class="unit1of2 right">
        <div class="card-form-wrapper">
          <h4 class="title">Billing</h4>
           <p id='card_details'>
            <% if u.card_brand && u.card_last4 %>
              You have a <%= u.card_brand %> ending in <%= u.card_last4 %> on file.
            <% else %>
              You have no card on file.
            <% end %>
            <a href='#' class='edit-card' id="toggle-stripe-form" />edit</a>
          </p>
          <form action='' method='post' id='stripe_form' class='stripe_form form'>
            <div id="card-wrapper"></div>
            <div class="row clearfix">
              <div class="field">
                <label for="number">Card Number</label>
                <input id='card_number' type='tel'  autocomplete='off' autocorrect='off' spellcheck='off' autocapitalize='off' />
              </div>
            </div>
            <div class="row clearfix">
              <div class="field">
                <label for="card_name">Name</label>
                <input id='card_name'   type='text' autocomplete='off' autocorrect='off' spellcheck='off' autocapitalize='on'  placeholder='Name on card' value="<%= @user.first_name %> <%= @user.last_name %>" />
              </div>
            </div>
            <div class="row clearfix">
              <div class="field col-3">
                <label for="card_exp">Expiry</label>
                <input id='card_exp'    type='tel'  autocomplete='off' autocorrect='off' spellcheck='off' autocapitalize='off' placeholder='MM / YYYY'      x-autocompletetype='off' autocompletetype='off'  />
              </div>
              <div class="field col-3">
                <label for="cvc">CVC</label>
                <input id='card_cvc'    type='tel'  autocomplete='off' autocorrect='off' spellcheck='off' autocapitalize='off' maxlength='4' />
              </div>
              <div class="field col-3">
                <label for="card_zip">ZIP</label>
                <input id='card_zip'    type='tel'  autocomplete='off' autocorrect='off' spellcheck='off' autocapitalize='on'    />
              </div>
            </div>
            <p class='payment_controls'><a href="#" type='submit' class='btn' id='save_payment_btn'>Save</a></p>
          </form>
          <div id='message'></div>  
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'https://js.stripe.com/v2/' %>
<%= javascript_include_tag 'caboose/model/all' %>
<%= javascript_include_tag 'caboose/united_states' %>
<%= javascript_include_tag 'caboose/jquery.payment' %>
<%= javascript_include_tag 'caboose/card' %>
<script type='text/javascript'>

$(document).ready(function() {
  new ModelBinder({
    name: 'User',
    id: <%= @user.id %>,
    update_url: '/my-account',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'first_name' , nice_name: 'First name'   , type: 'text', value: <%= raw Caboose.json(@user.first_name) %>, width: 400 },
      { name: 'last_name'  , nice_name: 'Last name'    , type: 'text', value: <%= raw Caboose.json(@user.last_name)  %>, width: 400 },      
      { name: 'email'      , nice_name: 'Email'        , type: 'text', value: <%= raw Caboose.json(@user.email)      %>, width: 400 },
      { name: 'phone'      , nice_name: 'Phone Number' , type: 'text', value: <%= raw Caboose.json(@user.phone)      %>, width: 400 }
    ],
    on_load: function() {
      $('#user_<%= @user.id %>_first_name').css('width', '400px');
      $('#user_<%= @user.id %>_last_name' ).css('width', '400px');
      $('#user_<%= @user.id %>_email'     ).css('width', '400px');
      $('#user_<%= @user.id %>_phone'     ).css('width', '400px');    
    }
  });

  $("#reset-password-link").click(function(event) {
    event.preventDefault();
    reset_user_password();
  });
  
  <% if @site.use_store && store_config %>
    $('#save_payment_btn').click(function(e) {
      e.preventDefault();
      update_card();
      return false;
    });
    $("#toggle-stripe-form").click(function(event) {
      event.preventDefault();
      toggle_stripe_form();
    });
    $('#card_exp').payment('formatCardExpiry');
    $('#card_cvc').payment('formatCardCVC');  
  <% end %>
});

<% if @site.use_store && store_config %>

function show_card() {
  var card = new Card({
    form: '#stripe_form',
    container: '#card-wrapper',
    formSelectors: {
        numberInput: 'input#card_number',
        expiryInput: 'input#card_exp',
        cvcInput: 'input#card_cvc',
        nameInput: 'input#card_name'
    },
    width: 250,
    formatting: true,
    messages: {
        validDate: 'valid\ndate',
        monthYear: 'mm/yyyy',
    },
    <% if !@user.card_last4.blank? %>
      placeholders: {
        number: '**** **** **** <%= @user.card_last4 %>',
        name: '<%= @user.first_name %> <%= @user.last_name %>',
        expiry: '<%= @user.card_exp_month %>/<%= @user.card_exp_year %>'
      }
    <% end %>
  });
  <% if !@user.card_brand.blank? %>
    $(".jp-card").addClass("jp-card-<%= @user.card_brand.gsub('American Express','amex').downcase %>").addClass("jp-card-identified");
  <% end %>
}

function toggle_stripe_form()
{
  if ($('#stripe_form').is(':visible')) {
    $('#stripe_form').hide();
    $("#card-wrapper").hide();
  }
  else {
    $('#stripe_form').show();
    $("#card-wrapper").show();
    show_card();
  }
}

function update_card()
{                  
  var info = {
    number:      $('#card_number').val(),
    exp:         $('#card_exp').val(),
    cvc:         $('#card_cvc').val(),
    name:        $('card_name').val(),
    address_zip: $('card_zip').val()
  };
  var exp = info.exp.split('/');
  var m = exp.length > 0 ? exp[0] : '';
  var y = exp.length > 1 ? exp[1] : '';        
  var error = false;
  if (!$.payment.validateCardNumber(info.number)) error = "Invalid card number.";
  if (!$.payment.validateCardExpiry(m, y))        error = "Invalid expiration date.";
  if (!$.payment.validateCardCVC(info.cvc))       error = "Invalid CVC.";
  if (error) { $('#message').html("<p class='note error'>" + error + "</p>"); return; }
      
  $('#save_payment_btn').addClass('disabled').text('Saving card...');    
  Stripe.setPublishableKey(<%= raw Caboose.json(store_config.stripe_publishable_key) %>);    
  Stripe.card.createToken(info, function(status, resp) {
    if (resp.error)
    {
      $('#save_payment_btn').removeClass('disabled').text('Save');    
      $('#message').html("<p class='note error'>" + resp.error.message + "</p>");
    }
    else
    {                                      
      $.ajax({
        url: '/checkout/stripe-details',
        type: 'put',
        data: { token: resp.id, card: resp.card },
        success: function(resp2) {
          if (resp2.error) $('#message').html("<p class='note error'>" + resp2.error + "</p>");
          if (resp2.success) window.location.reload(true);
        }
      });
    }
  });  
}
<% end %>

function reset_user_password(pass1, pass2)
{
  if (!pass1)
  {
    var p = $('<p/>').addClass('note warning reset-password')
      .append("Please enter your password:<br /><br />")
      .append($('<input/>').attr('type', 'password').attr('id', 'pass1').css('width', '200px')).append(' ')
      .append($('<a/>').attr('class','btn alternate').attr('href','#').text('Continue').click(function(e) { reset_user_password($('#pass1').val()); }))
      .append("<br /><br />Passwords must be 8 characters long.");
    $('#message2').empty().append(p);
    return;    
  }
  if (!pass2)
  {
    var p = $('<p/>').addClass('note warning reset-password')
      .append("Please enter it again to confirm:<br /><br />")
      .append($('<input/>').attr('type', 'password').attr('id', 'pass2').css('width', '200px')).append(' ')
      .append($('<a/>').attr('href', '#').addClass('btn alternate').text('Continue').click(function(e) { reset_user_password(pass1, $('#pass2').val()); }))
      .append("<br /><br />Passwords must be 8 characters long.");      
    $('#message2').empty().append(p);
    return;    
  }
  $('#message2').html("<p class='loading'>Setting password...</p>");
  $.ajax({
    url: '/my-account',
    type: 'put',
    data: {
      password: pass1,
      confirm: pass2
    },
    success: function(resp) {
      if (resp.error) $('#message2').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.success) {
        $('#message2').html("<p class='note success'>The password has been successfully updated.</p>");
        setTimeout(function() { $('#message2').empty(); }, 3000);
      }
    }      
  });  
}

</script>
<% end %>
<%= content_for :caboose_css do %>
<%= stylesheet_link_tag "caboose/my_account", :media => "all" %>
<% end %>