
<%= render :partial => 'caboose/users/admin_header' %>

<div id='payment_method_container'></div>
 
<%= render :partial => 'caboose/users/admin_footer' %>

<% content_for :caboose_css do %>
<style type='text/css'>

.stripe_form { width: 400px; }
.stripe_form .card_number_container { position: relative; width: 100%; }                                 .stripe_form .card_number_container input { padding-left: 30px; height: 37px;            font-size: 15px; width: 100%; border-color: #b9b9b9; border-style: solid; border-width: 1px 1px 0px 1px; }
.stripe_form .card_exp_container    { position: relative; width: 50% !important; float: left; }          .stripe_form .card_exp_container    input { padding-left: 30px; height: 37px;            font-size: 15px; width: 100%; border-color: #b9b9b9; border-style: solid; border-width: 1px 1px 0px 1px; }
.stripe_form .card_cvc_container    { position: relative; width: 50%; float: left; }                     .stripe_form .card_cvc_container    input { padding-left: 30px; height: 37px;            font-size: 15px; width: 100%; border-color: #b9b9b9; border-style: solid; border-width: 1px 1px 0px 0px; }
.stripe_form .card_name_container   { position: relative; width: 50%; float: left; }                     .stripe_form .card_name_container   input { padding-left: 10px; height: 37px !important; font-size: 15px; width: 100%; border-color: #b9b9b9; border-style: solid; border-width: 1px 0px 1px 1px; }
.stripe_form .card_zip_container    { position: relative; width: 50%; float: left; margin-bottom: 4px; } .stripe_form .card_zip_container    input { padding-left: 10px; height: 37px;            font-size: 15px; width: 100%; border-color: #b9b9b9; border-style: solid; border-width: 1px 1px 1px 0px; }

.stripe_form .card_number_container .icon { position: absolute; top: 3px; left: 1px; transform-origin: 50% 50% 0; pointer-events: none; }
.stripe_form .card_exp_container    .icon { position: absolute; top: 3px; left: 1px; transform-origin: 50% 50% 0; pointer-events: none; }
.stripe_form .card_cvc_container    .icon { position: absolute; top: 3px; left: 1px; transform-origin: 50% 50% 0; pointer-events: none; }

.stripe_form .note { width: 100%; margin-bottom: 10px !important; text-align: center; }
.stripe_form .payment_controls { clear: left; margin-top: 4px !important; }

</style>
<%= stylesheet_link_tag "caboose/my_account", :media => "all" %>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'https://js.stripe.com/v2/' %>
<%= javascript_include_tag 'caboose/checkout/stripe_payment_method_controller' %>
<%= javascript_include_tag 'caboose/model/all' %>
<%= javascript_include_tag 'caboose/united_states' %>
<%= javascript_include_tag 'caboose/jquery.payment' %>
<%= javascript_include_tag 'caboose/card' %>
<script type='text/javascript'>

var controller = false;
$(document).ready(function() {
  controller = new StripePaymentMethodController({    
    cc: {
      invoice: { total: 1.00 },
      print_ready_message: function() {},      
    },
    refresh_url: '/admin/users/<%= @edituser.id %>/stripe/json',
    after_update_url: '/admin/users/<%= @edituser.id %>'
  });
  controller.print();
});

</script>
<% end %>
