
<%= render :partial => 'caboose/users/admin_header' %>

<h3 style="margin:0 0 10px 0;">Reset Password</h3>
<form action='/admin/users/<%= @edituser.id %>' method='put' id='password_form'>
<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' />
<div class="field">
  <label for="password">Password</label>
  <input type='password' name='password'   id='password' style="width:250px;"   value=""  />
</div>
<div class="field">
  <label for="password2">Confirm Password</label>
  <input type='password' name='password2'  id='password2' style="width:250px;"  value=""  />
</div>
<div id='message'></div>
<p><input type='button' value='Update Password' onclick="update_password();" /></p>

<%= render :partial => 'caboose/users/admin_footer' %>

<% content_for :caboose_css do %>
<style>
  .field {
    margin-bottom: 15px;
  }
  .field label {
    display: block;
    margin-bottom: 4px;
    font-size: 13px;
  }
</style>
<% end %>

<% content_for :caboose_js do %>
<script type="text/javascript">

function update_password()
{
  $.ajax({
    url: '/admin/users/<%= @edituser.id %>',
    type: 'put',
    data: $('#password_form').serialize(), 
    success: function(resp) {
      if (resp.success)   $('#message').html("<p class='note success'>The password has been reset.</p>");
      if (resp.error)     $('#message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect)  window.location = resp.redirect;
    }
  });
}

</script>
<% end %>
