<% 
gravatar_id = Digest::MD5.hexdigest(@edituser.email.downcase)
pic = "http://gravatar.com/avatar/#{gravatar_id}.png?s=150" #&d=/assets/caboose/default_user_pic.png"  
%>
<h1>Edit User</h1>
<p id='gravatar'><img src='<%= pic %>' /><a href='http://gravatar.com'>Update on gravatar</a></p>
<p><div id='user_<%= @edituser.id %>_first_name' ></div></p>
<p><div id='user_<%= @edituser.id %>_last_name'  ></div></p>
<p><div id='user_<%= @edituser.id %>_username'   ></div></p>
<p><div id='user_<%= @edituser.id %>_email'      ></div></p>
<p><div id='user_<%= @edituser.id %>_locked'     ></div></p>
<div id='roles'>
<table class='data'>
<% Caboose::Role.flat_tree(@site.id).each do |r| %>
<% is_member = Caboose::RoleMembership.where(:role_id => r.id, :user_id => @edituser.id).exists? %>
<tr><td><input type='checkbox' name='role<%= r.id %>' <%= is_member ? "checked='true'" : '' %> onclick="toggle_role(<%= @edituser.id %>, <%= r.id %>, $(this).prop('checked'));" /></td><td><%= r.name %></td></tr>
<% end %>
</table>
</div>
<div id='message'></div>
<div id='controls'>
<input type='button' value='Back'                     onclick="window.location='/admin/users';" />
<input type='button' value='Login Logs for this User' onclick="window.location='/admin/login-logs?user_id=<%= @edituser.id %>';" />
<input type='button' value='Reset Password'           onclick="window.location='/admin/users/<%= @edituser.id %>/edit-password';" />
<input type='button' value='Delete User'              onclick="delete_user(<%= @edituser.id %>);" />
</div>

<% content_for :caboose_css do %>
<style type='text/css'>
#content input[type=checkbox] { position: relative; }
#roles { height: 200px; overflow-y: scroll; margin-bottom: 20px; }
</style>
<% end %>
<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

$(document).ready(function() {
  new ModelBinder({
    name: 'User',
    id: <%= @edituser.id %>,
    update_url: '/admin/users/<%= @edituser.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'first_name' , nice_name: 'First name', type: 'text'     , value: <%= raw Caboose.json(@edituser.first_name) %>, width: 280 },
      { name: 'last_name'  , nice_name: 'Last name' , type: 'text'     , value: <%= raw Caboose.json(@edituser.last_name)  %>, width: 280 },
      { name: 'username'   , nice_name: 'Username'  , type: 'text'     , value: <%= raw Caboose.json(@edituser.username)   %>, width: 280 },
      { name: 'email'      , nice_name: 'Email'     , type: 'text'     , value: <%= raw Caboose.json(@edituser.email)      %>, width: 280 },
      { name: 'locked'     , nice_name: 'Locked'    , type: 'checkbox' , value: <%= @edituser.locked ? 1 : 0               %>, width: 280 }
    ]    
  });  
});

function delete_user(user_id, confirm)
{
  if (!confirm)
  {
    var p = $('<p/>').addClass('note confirm')
      .append('Are you sure you want to delete the user? ')
      .append($('<input/>').attr('type','button').val('Yes').click(function() { delete_user(user_id, true); })).append(' ')
      .append($('<input/>').attr('type','button').val('No').click(function() { $('#message').empty(); }));
    $('#message').empty().append(p);
    return;
  }
  $('#message').html("<p class='loading'>Deleting user...</p>");
  $.ajax({
    url: '/admin/users/' + user_id,
    type: 'delete',
    success: function(resp) {
      if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect) window.location = resp.redirect;
    }
  });
}

function toggle_role(user_id, role_id, checked)
{
  $.ajax({
    url: '/admin/users/' + user_id +'/roles/' + role_id,
    type: checked ? 'post' : 'delete',    
    succes: function(resp) { }
  });
}

</script>
<% end %>

<% content_for :caboose_css do %>
<style type='text/css'>
#gravatar {
  float: right;
  width: 150px;
  text-align: right;
  margin: 0 4px 0 0;
  padding: 0;
}
#gravatar img {
  border: #fff 2px solid;
}
</style>
<% end %>