<h1>Users</h1>

<form action='/admin/users' method='get' class='search_form'>
<input type='text' name='first_name_like' placeholder='First name' />
<input type='text' name='last_name_like'  placeholder='Last name' />
<input type='text' name='email_like'      placeholder='Email' />
<input type='submit' value='Search' />
</form>

<table class='data' id='users_table'>
  <tr>
    <%= raw @gen.sortable_table_headings({
				'first_name' => 'First Name',
				'last_name, first_name'	=> 'Last Name',
				'username' => 'Username',
				'email'	=> 'Email'
			})
		%>
  </tr>
<% @users.each do |user| %>
  <tr onclick="window.location='/admin/users/<%= user.id %>/edit';">
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table>

<p><%= raw @gen.generate %></p>

<% content_for :caboose_js do %>
<script type='text/javascript'>
$(document).ready(function() { 
  var modal = new CabooseModal(500);
});
</script>
<% end %>