
<h1>My Account</h1>
<p><div id='user_<%= @user.id %>_first_name' ></div></p>
<p><div id='user_<%= @user.id %>_last_name'  ></div></p>
<p><div id='user_<%= @user.id %>_email'      ></div></p>
<p><div id='user_<%= @user.id %>_phone'      ></div></p>
<div id='message'></div>
<p><input type='button' id='btn_cancel'   value='Close' onclick="parent.$.fn.colorbox.close();" /></p>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {  
  modal = new CabooseModal(450);
});

$(document).ready(function() {
  new ModelBinder({
    name: 'User',
    id: <%= @user.id %>,
    update_url: '/my-account',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'first_name' , nice_name: 'First name'   , type: 'text', value: <%= raw Caboose.json(@user.first_name) %>, width: 400 },
      { name: 'last_name'  , nice_name: 'Last name'    , type: 'text', value: <%= raw Caboose.json(@user.last_name)  %>, width: 400 },      
      { name: 'email'      , nice_name: 'Email'        , type: 'text', value: <%= raw Caboose.json(@user.email)      %>, width: 400 },
      { name: 'phone'      , nice_name: 'Phone Number' , type: 'text', value: <%= raw Caboose.json(@user.phone)      %>, width: 400 }
    ],
    on_load: function() { modal.autosize(); }
  });  
});

</script>
<% end %>
<%= content_for :caboose_css do %>
<%= stylesheet_link_tag "caboose/my-account", :media => "all" %>
<% end %>
