 
<h1>Edit Setting</h1>
<p><div id='setting_<%= @setting.id %>_name'  ></div></p>
<p><div id='setting_<%= @setting.id %>_value' ></div></p>

<p><input type='button' class="caboose-btn" value='Back' onclick="window.location='/admin/settings';" /></p>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

$(document).ready(function() {
  new ModelBinder({
    name: 'Setting',
    id: <%= @setting.id %>,
    update_url: '/admin/settings/<%= @setting.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'name'  , nice_name: 'Name'  , type: 'text'     , value: <%= raw Caboose.json(@setting.name)  %>, width: 600 },
      { name: 'value' , nice_name: 'Value' , type: 'textarea' , value: <%= raw Caboose.json(@setting.value) %>, width: 600, height: 200 }      
    ]    
  });  
});

</script>
<% end %>
