 
<h1>Edit Setting</h1>
<div id='setting_<%= @setting.id %>_container'></div>

<% content_for :caboose_js do %>
<script type="text/javascript">

$(document).ready(function() {
  var setting = new Model({
    name: 'Setting',
    id: <%= @setting.id %>,
    listing_url: 'get /admin/settings',
    update_url:  'put /admin/settings/<%= @setting.id %>',
    delete_url:  'delete /admin/settings/<%= @setting.id %>',
    attributes: [
      { name: 'name'  , type: 'text'     , value: "<%= @setting.name  %>" },
      { name: 'value' , type: 'textarea' , value: "<%= @setting.value %>" }
    ]
  });
});

</script>
<% end %>
