 
<h1>Edit Permission</h1>
<div id='permission_<%= @permission.id %>_container'></div>

<% content_for :caboose_js do %>
<script type="text/javascript">

$(document).ready(function() {
  var permission = new Model({
    name: 'Permission',
    id: <%= @permission.id %>,
    listing_url: 'get /admin/permissions',
    update_url: 'put /admin/permissions/<%= @permission.id %>',
    delete_url: 'delete /admin/permissions/<%= @permission.id %>',
    attributes: [
      { name: 'resource' , type: 'text', value: "<%= @permission.resource %>" },
      { name: 'action2'  , type: 'text', value: "<%= @permission.action   %>", nice_name: 'Action' }
    ]
  });
});

</script>
<% end %>
