<h1>Permissions</h1>

<form action='/admin/permissions' method='get'>
<table cellpadding='4' cellspacing='0' border='0'>
<tr><td>Resource: 	</td><td><input type='text' name='resource' value='<%= @gen.params['resource'] %>' style='width: 200px;' /></td></tr>
</table>
<p><input type='submit' value='Search' class="caboose-btn-white" /></p>
</form>

<% if (@permissions.count > 0) %>

  <table class='data'>
    <tr>
      <%= raw @gen.sortable_table_headings({
  				'resource' => 'Resource',
  				'action'	 => 'Action'
  			})
  		%>
    </tr>
  <% @permissions.each do |perm| %>
    <tr onclick="window.location='/admin/permissions/<%= perm.id %>/edit';">
      <td><%= perm.resource %></td>
      <td><%= perm.action   %></td>    
    </tr>
  <% end %>
  </table>
  <p><%= raw @gen.generate %></p>

<% else %>

  <p>There are no permissions.</p>

<% end %>