<p id="notice"><%= notice %></p>

<p>
  <b>Resource:</b>
  <%= @permission.resource %>
</p>

<p>
  <b>Action:</b>
  <%= @permission.action %>
</p>


<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
